/*======================
		セレモアLP
========================*/
/* 共通 */

* {
	margin: 0;
	padding: 0;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
a, a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
img {
	width: 100%;
	display: block;
}
.wrapper {
	background-color: #f6f6f6;
}
.inner {
	width: 580px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	overflow: hidden;
	padding: 0 0 100px;
}

.inner2 {
	width: 1500px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	overflow: hidden;
	padding: 0 0 100px;
}

#pc {
	display: block;
}

#app {
	display: none;
}

.pc_header_emergent {
	display: flex;
	border: 1px solid #A41E25;
	border-radius: 5px;
}

.sp_header_emergent {
	display: none;
}

.header_tel_icon {
	background-color: #A41E25;
	padding: 0.7rem;
}

.header_tel_icon img {
	width: 100%;
}

.header_emergent_text {
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0.8rem 0.8rem 0.5rem;
}

@media screen and ( max-width:580px ) {
	.pc_header_emergent {
		display: none;
	}

	#header .right-col {
		width: 20%;
	}

	.sp_header_emergent {
		display: block;
		width: 100%;
		background-color: #A41E25;
	}

	.header_tel_icon {
		padding: 0;
	}

	#header .sp_header_emergent .header_tel_icon img {
		width: 40%;
		margin: 1rem auto 0;
	}

	.header_emergent_text {
		color: #fff;
		font-size: 10px;
		text-align: center;
		margin-top: 0.5rem;
		padding: 0;
	}

	#pc {
		display: none;
	}
	
	#app {
		display: block;
	}
	
	.inner {
		width: 100%;
		box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0 0 75px;
	}
}



@media screen and ( max-width:1500px ) {
	.inner2 {
		width: 100%;
		box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0 0 75px;
	}
}
/*お問い合わせボタン*/
.cvbtn {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 0;
}
.cvbtn img{
	position: absolute;
}
.cvbtn_sec0 img{
	width: 94%;
	right: 0;
	left: 0;
	margin: 20px auto;
}
.cvbtn._sec1 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/section_1_3.png);
	padding-top: 44%;
	margin-top: -2px;
}
.cvbtn._sec1 img{
	top: 0%;
	width: 88%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.cvbtn._sec5 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/section_5_2.png);
	padding-top: 46.7%;
}
.cvbtn._sec5 img{
	top: 0%;
	width: 88%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.cvbtn._sec6 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/section_6_4.png);
	padding-top: 25.3%;
}
.cvbtn._sec6 img{
	top: 0%
}
.cvbtn._sec6_2 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/section_6_4.png);
	padding-top: 25.3%;
}
.cvbtn._sec6_2 img{
	top: 5%;
	right: 5%;
	width: 90%
}
.cvbtn._sec8 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/section_8_2.png);
	padding-top: 62.6%;
}
.cvbtn._sec8 img.btn2{
	top: -5%;
	width: 94%;
	right: 0;
	left: 0;
	margin: 10px auto 0;
}
.cvbtn._sec8 img.btn1{
	top: 55%;
	width: 94%;
	right: 0;
	left: 0;
	margin: 0 auto;
}

/*お客様の声*/
.user-voice {
	background-color: #F4F4F4;
	width: 100%;
}
.user-voice-list {
	width: 90%;
    margin: 35px auto 35px;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
}
@media screen and (max-width: 749px) {
	.user-voice-list {
		padding: 15px;
	}
}
.user-voice-upper {
	display: flex;
	align-items: center;
}
.user-voice-image {
	position: relative;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/user-voice/woman.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.1%;
    height: 0;
    padding-top: 28%;
    margin-right: 3.9%;
}
.user-voice-image.man {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/user-voice/man.png);
}
@media screen and (max-width: 749px) {
	.user-voice-image {
		width: 33.1%;
		padding-top: 34%;
	}
}
.user-feature {
	position: absolute;
    bottom: 2%;
    left: 0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 749px) {
	.user-feature {
		bottom: 1%;
    	font-size: 15px;
	}
}
@media screen and (max-width: 500px) {
	.user-feature {
    	font-size: 11px;
	}
}
.user-voice-title {
	width: 70%;
	font-weight: bold;
    font-size: 34px;
}
@media screen and (max-width: 749px) {
	.user-voice-title {
    	font-size: 25px;
	}
}
@media screen and (max-width: 500px) {
	.user-voice-title {
    	font-size: 19px;
	}
}
.user-voice-discription {
	font-size: 28px;
    margin-top: 15px;
}
@media screen and (max-width: 749px) {
	.user-voice-discription{
    	font-size: 18px;
   		margin-top: 10px;
	}
}
.user-voice-discription span{
	font-weight: bold;
	color: #ff0000;
}

/*重要ポイント*/
.key-point-list {
	background-color: #fff;
	padding: 20px 0;
}
.key-point-item {
	width: 90%;
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	background-color: #fff;
	margin: 20px auto 40px;
	position: relative;
}
@media screen and ( max-width:580px ) {
	.key-point-item {
		/*width: 90%;*/
		margin: 20px auto 30px;
	}
}
.key-point-item:first-child {
	margin-top: 0;
}
.key-point-item:last-child {
	margin-bottom: 0;
}
.key-point-header {
	padding: 20px 20px 0;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
@media screen and ( max-width:580px ) {
	.key-point-header {
		margin-bottom: 10px;
	}
}
.key-point-num {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 120px;
	position: absolute;
	top: -4px;
}
.key-point-item:nth-child(1) .key-point-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/key-point/num-bg1.png);	
}
.key-point-item:nth-child(2) .key-point-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/key-point/num-bg2.png);	
}
.key-point-item:nth-child(3) .key-point-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/key-point/num-bg3.png);	
}
@media screen and ( max-width:580px ) {
	.key-point-num {
		width: 50px;
		height: 60px;
		top: -2px;
	}
}
.key-point-ttl {
	font-size: 34px;
	margin-left: 110px;
	font-weight: bold;
	line-height: 1.2;
}
@media screen and ( max-width:580px ) {
	.key-point-ttl {
		font-size: 24px;
		margin-left: 65px;
	}
}
.key-point-body {
	padding: 10px 20px 20px;
	font-size: 28px;
	line-height: 1.6;
}
@media screen and ( max-width:580px ) {
	.key-point-body {
		font-size: 18px;
	}
}
.key-point-body figure {
	float: left;
	margin: 0 15px 0 0;
	width: 30%;
}
@media screen and ( max-width:580px ) {
	.key-point-body figure {
		width: 50%;
		margin: 0 15px 10px 0;
	}
}
.key-point-body figure img {
	max-width: 100%;
}
.key-point-item .column {
	border: 4px solid #FFED6E;
	background-color: #FFFACA;
	margin: 20px 0 10px;
}
.key-point-item .column-header {
	background-color: #FFED6E;	
	padding: 20px 30px;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-header {
		padding: 20px 10px;
	}
}
.key-point-item .column-ttl {
	position: relative;
	padding-left: 110px;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.2;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-ttl {
		padding-left: 60px;
		font-size: 24px;
	}
}
.key-point-item .column-ttl::before {
	position: absolute;
	content: "";
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/key-point/bikkuri.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100px;
	height: 100px;
	margin-right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-ttl::before {
		width: 50px;
		height: 50px;
	}
}
.key-point-item .column-body {
	padding: 20px 30px;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-body {
		padding: 20px 10px;
	}
}
.key-point-item .column-body span {
	color: #840000;
	font-weight: bold;
}

/*6つの理由*/
.reason-list {
	background-color: #fff;
	padding: 20px 0;
}
.reason-item {
	width: 90%;
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	background-color: #fff;
	margin: 20px auto 40px;
}
@media screen and ( max-width:580px ) {
	.reason-item {
		margin: 10px auto 30px;
	}
}
.reason-item:first-child {
	margin-top: 20px;
}
@media screen and ( max-width:580px ) {
	.reason-item:first-child {
		margin-top: 0;
	}
}
.reason-header {
	padding: 30px 30px 0;
	display: flex;
	align-items: center;
}
@media screen and ( max-width:580px ) {
	.reason-header {
		padding: 20px 20px 0;
	}
}
.reason-num {
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 100px;
	min-height: 100px;
	background-position: center;
}
@media screen and ( max-width:580px ) {
	.reason-num {
		min-width: 64px;
		min-height: 64px;
	}
}
.reason-item:nth-child(1) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/num-bg1.png);	
}
.reason-item:nth-child(2) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/num-bg2.png);	
}
.reason-item:nth-child(3) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/num-bg3.png);	
}
.reason-item:nth-child(4) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/num-bg4.png);	
}
.reason-item:nth-child(5) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/num-bg5.png);	
}
.reason-item:nth-child(6) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/num-bg6.png);	
}
.reason-ttl {
	font-size: 32px;
	margin-left: 10px;
	font-weight: bold;
	line-height: 1.2;
}
@media screen and ( max-width:580px ) {
	.reason-ttl {
		font-size: 24px;
	}
}
.reason-ttl span {
	color: #d94e4e;
}
.reason-body {
	padding: 10px 30px 30px;
	font-size: 28px;
	line-height: 1.6;
}
@media screen and ( max-width:580px ) {
	.reason-body {
		padding: 10px 20px 20px;
		font-size: 18px;
	}
}
.reason-body span {
	color: #ff0000;
	font-weight: bold;
}
.reason-body figure {
	width: 90%;
	margin: 20px auto 30px;
}
@media screen and ( max-width:580px ) {
	.reason-body figure {
		margin: 10px auto 20px;
	}
}
.reason-body figure.full {
	width: 100%;
}
.reason-body figure figcaption {
	font-size: 25px;
	line-height: 1.4;
	margin-top: 10px;
}
@media screen and ( max-width:580px ) {
	.reason-body figure figcaption {
		font-size: 16px;
	}
}
.reason-body span.ceremopian {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/ceremopian.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 40px;
	width: 200px;
	display: inline-block;
	text-indent: -9999px;
	position: relative;
}
@media screen and ( max-width:580px ) {
	.reason-body span.ceremopian {
		height: 26px;
    	width: 135px;
    	bottom: 2px;
	}
}
.reason-body .bold {
	font-weight: bold;
	font-weight: 20px;
}
.reason-body span.ceremore {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/ceremore.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 40px;
	width: 150px;
	display: inline-block;
	text-indent: -9999px;
	position: relative;
}
@media screen and ( max-width:580px ) {
	.reason-body span.ceremore {
		height: 27px;
    	width: 100px;
    	bottom: 2px;
	}
}
.reason-body .htc-list {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	list-style: none;
	margin: 0 auto;
}
@media screen and ( max-width:580px ) {
	.reason-body .htc-list {
		width: 100%;		
    	max-width: 270px;
	}
}
.reason-body .htc-list li {
	position: relative;
	padding-left: 35px;
	margin: 0 20px;
}
@media screen and ( max-width:580px ) {
	.reason-body .htc-list li {
		padding-left: 25px;
		margin: 0 5px;
	}
}
.reason-body .htc-list li:before,
.qlist li:before {
	position: absolute;
	content: "";
	display: block;
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/icon_check.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
@media screen and ( max-width:580px ) {
	.reason-body .htc-list li:before {
		width: 20px;
		height: 20px;
	}
}
.qlist li {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	position: relative;
}
.qlist li:before {
	position: relative;
	min-width: 50px;
	min-height: 50px;
	margin: 0;
	margin-right: 20px;
}
@media screen and ( max-width:580px ) {
	.qlist li:before {
		min-width: 30px;
		min-height: 30px;
		margin-right: 10px;
	}
}
.qitem-num {
	background-color: #00B481;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 1.8;
	margin-right: 20px;
}
@media screen and ( max-width:580px ) {
	.qitem-num {
		width: 30px;
		height: 30px;
		min-width: 30px;
		min-height: 30px;
		margin-right: 10px;
	}
}
.qitem-thumb {
	background-repeat: no-repeat;
	background-size: contain;
	width: 200px;
	height: 100px;
	margin-right: 10px;
}
@media screen and ( max-width:580px ) {
	.qitem-thumb {
		width: 80px;
		height: 50px;
	}
}
.qlist li:nth-child(1) .qitem-thumb {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/qitem1.png);	
}
.qlist li:nth-child(2) .qitem-thumb {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/qitem2.png);	
}
.qlist li:nth-child(4) .qitem-thumb {
	height: 200px;
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/reason/qitem3.png);	
}
@media screen and ( max-width:580px ) {
	.qlist li:nth-child(4) .qitem-thumb {
		height: 80px;
	}
}
.qitem-ttl {
	font-size: 30px; 
}
@media screen and ( max-width:580px ) {
	.qitem-ttl {
		font-size: 18px;
    	width: calc(100% - 120px);
	}
	.qlist li:nth-child(3) .qitem-ttl {
		width: calc(100% - 40px);
	}
	.qlist li:nth-child(5) .qitem-ttl {
		width: calc(100% - 40px);
	}
}
@media screen and ( max-width:580px ) {
	.reason-body .supplement{
		font-size: 15px;
	}
}

/*セレパクプラン*/
.cerepak_select {
    width: 100%;
    padding: 5px 60px 25px;
    box-sizing: border-box;
    background-color: #fff;
}
@media screen and (max-width: 499px) {
	.cerepak_select {
		padding: 5px 30px 25px;
	}
}
.cerepak_select .cerepak_select_box {
	position: relative;
    display: flex;
    align-items: center;
    margin: 0px 0 40px;
}
.cerepak_select .cerepak_select_box:after {
	position: absolute;
    right: 4px;
    content: '';
    display: inline-block;
    width: 62px;
    height: 57px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;    
    pointer-events: none;
}
.cerepak_select select{
	width: 100%;
  height: 65px;
  font-size: 27px;
  font-weight: bold;
  border: 5px solid #53a99e;
  background-color:#fff;
  padding: 0 60px;
}
@media screen and (max-width: 580px) {
	.cerepak_select select {
		font-size: 24px;
    padding: 0 60px 0 24px;
	}
}
@media screen and (max-width: 499px) {
	.cerepak_select select {
		font-size: 20px;
    padding: 0 60px 0 14px;
	}
}
@media screen and (max-width: 400px) {
	.cerepak_select select {
		font-size: 18px;
	}
}
.cerepak_select .cerepak_plan {
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
    border-radius: 15px;
    border: 6px solid #fff;
}
@media screen and (max-width: 499px) {
	.cerepak_select .cerepak_plan {
		font-size: 18px;
		border-radius: 6px;
	}
}
.cerepak_select .cerepak_discount {
	color: #fff;
    font-weight: bold;
    font-size: 30px;
    background-color: #de669c;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 10px 0 5px;
}
@media screen and (max-width: 499px) {
	.cerepak_select .cerepak_discount {
		font-size: 18px;
		border-radius: 6px 6px 0 0;
	}
}
.cerepak_select .cerepak_discount > div:first-child {
	display: flex;
    justify-content: center;
    align-items: center;
}
.cerepak_select .cerepak_discount > div:first-child img {
	width: 42%;
}
.cerepak_select .cerepak_discount > div:first-child p {
	margin-left: 8px;
}
.cerepak_select .cerepak_option {
	background-color: #e1fff5;
    border-radius: 0 0 15px 15px;
    padding: 35px 35px;
}
@media screen and (max-width: 499px) {
	.cerepak_select .cerepak_option {
		border-radius: 6px 6px 0 0;
		padding: 20px;
	}
}
.cerepak_select .cerepak_saidan {
	background-color: #fff;
    border: 1px solid #00AE80;
    /*padding: 20px 20px 10px;*/
}
.cerepak_select .cerepak_saidan p {
	text-align: center;	
    font-size: 30px;
    margin-top: 10px;
}
@media screen and (max-width: 599px) {
	.cerepak_select .cerepak_saidan p {
		font-size: 20px;
	}
}
.cerepak_option_items img{
}
.cerepak_plan .extra_cost {
	padding: 0 0;
    border-top: 2px solid #00AE80;
    margin-top: 15px;
}
.cerepak_plan .extra_cost p {
	font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 10px;
}
@media screen and (max-width: 580px) {
	.cerepak_plan .extra_cost p {
		font-size: 20px;
	}
}
.cerepak_plan .extra_cost ul {
	display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}
@media screen and (max-width: 580px) {
	.cerepak_plan .extra_cost ul {
		font-size: 18px;
	}
}
.cerepak_plan .extra_cost ul li{
	margin: 0 30px 6px 0;
}
.cerepak_plan .extra_cost ul li:before{
	position: relative;
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp/images/cerepak_select_chk.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.footer_links {
	font-size: 2rem; 
	text-align: center; 
	background-color: white; 
	padding: 2rem 0 4rem;
}
.footer_links a {
	color: #008366;
	text-decoration: underline;
}
#app .footer_links,
#app4 .footer_links {
	font-size: 4rem; 
	padding: 4rem 0;
}

/*フッター固定*/
.footer_btns {
	position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.83);
}
@media screen and ( max-width:500px ) {
	.footer_btns {
		height: 80px;
	}
}
@media screen and ( max-width:379px ) {
	.footer_btns {
		height: 65px;
	}
}
.footer_btns.show {
	display: flex;
}
.footer_btns img {
	height: 75px;
    width: auto;
}
@media screen and ( max-width:570px ) {
	.footer_btns img {
		height: 70px;
	}
}
@media screen and ( max-width:500px ) {
	.footer_btns img {
		height: 55px;
		margin: 5px;
	}
}
@media screen and ( max-width:379px ) {
	.footer_btns img {
		height: 40px;
	}
}

.footer_btns2 {
	position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.83);
}

.footer_btns2.show {
	display: flex;
}
.footer_btns2 img {
	height: 70px;
    width: auto;
    margin: 0 10px;
}

@media screen and ( max-width:780px ) {
	.footer_btns2 {
		height: 75px;
	}
	.footer_btns2 img {
		height: 65px;
	}
}

@media screen and ( max-width:730px ) {
	.footer_btns2 {
		height: 70px;
	}
	.footer_btns2 img {
		height: 60px;
	}
}

@media screen and ( max-width:680px ) {
	.footer_btns2 {
		height: 65px;
	}
	.footer_btns2 img {
		height: 55px;
	}
}

@media screen and ( max-width:630px ) {
	.footer_btns2 {
		height: 60px;
	}
	.footer_btns2 img {
		height: 50px;
	}
}

.wrapper_pc_top_area {
	position: absolute;
	left: 8%;
	top:18%;
	width:100%;
}


.pc_top_area_img {
	display:inline;
	width:19%;
	vertical-align: middle;
}




/* 電話と資料など */

.pc_tel_button {
	background-color: #A41E25;
	color: #f6f6f6;
	box-shadow: 0px 4px #771510;
	position:relative;
	border-radius: 8px;
	max-width: 750px;
	width: 100%; 
	align-items: center;
}

.wrapper_pc_tel_2 {
	max-width:750px;
	margin: auto;
}

.margin_top {
	margin-top: 0px;
}

.icon_tel {
	/* width: 25px;
	height: 25px; */
	width:clamp(15px, 2.5vw, 25px);
	height:clamp(21px, 3.5vw, 35px);
}

.icon_tel_2 {
	width:clamp(20px, 5vw, 50px);
	height:clamp(20px, 5vw, 50px);
}

.pc_response_time {
	background-color: #f6f6f6;
	border-radius: 5px;
	color: #A41E25;
	width:fit-content;
	display: inline-block;
	padding: 0.5rem 1rem;
	max-width: 23%;
	/* font-size: 10px; */
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.5em;
	/* margin: auto 4px; */
	margin: auto clamp(4px, 2vw, 12px);
}

.pc_response_time_2 {
	background-color: #f6f6f6;
	border-radius: 5px;
	color: #A41E25;
	width:fit-content;
	display: inline-block;
	padding: 1rem 2rem;
	max-width: 21%;
	/* font-size: 10px; */
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.25em;
	/* margin: auto 4px; */
	margin: auto clamp(4px, 0.7vw, 8px);
}

.no_wrap {
	white-space: nowrap;
}


.pc_tel_button_text {
	padding-top: 4px;
	font-size: 2.3rem;
	font-weight: bold;
}
@media screen and (min-width:680px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.pc_tel_button_text {
		font-size: 3rem;
		transform: scale(0.8, 1);
		letter-spacing: 0.05em;
	}
}

@media screen and (min-width:1100px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.pc_tel_button_text {
		font-size: 2.7rem;
	}
}

.pc_tel_button_text_2 {
	padding-top: 4px;

	font-size: clamp(20px, 5vw, 50px);
	font-weight: bold;
}


.pc_tel_button_2 {
	background-color: #A41E25;
	color: #f6f6f6;
	box-shadow: 0px 4px #771510;
	position:relative;
	border-radius: 3px;
	width: 100%; 
	align-items: center;
}

.call_woman_img {
	width: 15%;
	margin-left: auto;
}

.padding_top {
	padding-top: 10px;
}

.align_items_stretch {
	align-items: stretch;
}

.flex_child {
	width: calc(50% - 5px);
}


.pc_estimate_consul {
	font-size: 2.0rem;
	margin-top: 5px;
	/* height: clamp(30px, 4.8vw, 48px); */
	background-color: #cd3164;
	padding: 4px;
	color: #f6f6f6;
	box-shadow: 0px 4px #6B1818;
	position:relative;
	border-radius: 8px;
	max-width: 750px;
	vertical-align: middle;
}

.pc_estimate_consul_2 {
	font-size: min(3rem, 36px);
	margin-top: 5px;
	height: clamp(60px, 8.8vw, 110px);
	background-color: #cd3164;
	padding: 4px;
	color: #f6f6f6;
	box-shadow: 0px 4px #6B1818;
	position:relative;
	border-radius: 8px;
	max-width: 750px;
	vertical-align: middle;
}

.line_height {
	line-height: 4rem;
	padding: 0.5rem 0;
}

.line_height_2 {
	line-height: clamp(60px, 8.8vw, 110px)
}

.line_height_3 {
	line-height: 2rem;
	padding: 0.5rem 0;
}

.button_name {
	font-size: min(2.5rem, 30px);
	margin:auto;
}

/* .under_buton {
	height:5rem;
} */

.pc_estimate_consul::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/calculator.png);
	/* width: 15px;
	height: 15px; */
	width: clamp(15px, 2.65vw, 30px);
	height: clamp(15px, 2.65vw, 30px);
	left: 7%;
	top: -2px;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.pc_estimate_consul::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(10px, 1.55vw, 15px);
	height: clamp(10px, 1.55vw, 15px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.pc_estimate_consul_2::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/calculator.png);
	/* width: 15px;
	height: 15px; */
	width: clamp(20px, 3vw, 40px);
	height: clamp(20px, 3vw, 40px);
	left: 7%;
	top: -2px;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.pc_estimate_consul_2::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(20px, 3vw, 30px);
	height: clamp(20px, 3vw, 30px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}




.pc_document_request_button {
	background-color: #168171;
	color: #f6f6f6;
	font-size: 1.5rem;
	box-shadow: 0px 4px #0F2D0D;
	position:relative;
	border-radius: 8px;
	margin-top: 5px;
	vertical-align: middle;
}

.pc_document_request_button::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/icon_document.png);
	width: clamp(15px, 2.65vw, 30px);
	height:clamp(15px, 2.65vw, 30px);
	left: 7%;
	top: -2px;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.pc_document_request_button::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(10px, 1.55vw, 15px);
	height: clamp(10px, 1.55vw, 15px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.pc_document_request_button_2 {
	background-color: #168171;
	color: #f6f6f6;
	box-shadow: 0px 4px #0F2D0D;
	position:relative;
	border-radius: 8px;
	margin-top: 5px;
	vertical-align: middle;
	font-size: clamp(20px, 3vw, 30px);
	margin-top: 5px;
	height: clamp(60px, 8.8vw, 110px);
	display: flex;
	align-items: center;
}

.pc_document_request_button_2::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/icon_document.png);
	width: clamp(20px, 3vw, 40px);
	height:clamp(20px, 3vw, 40px);
	left: 7%;
	top: -2px;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.pc_document_request_button_2 ::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(20px, 3vw, 30px);
	height: clamp(20px, 3vw, 30px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}



















/* 上部分の家族葬 PC版 */

.wrapper_pc_top_img {
	position: relative;
}




.wrapper_upper_family {
	position: absolute;
	top: 10%;
	right: 5%;
}

.mincho {
	font-family: 'Noto Serif JP', '游明朝 Medium', 'ＭＳ Ｐ明朝', serif;
}

.calumn {
	flex-flow: column;
}
.flex_box_3 {
	/* width: 33%; */
	/* width: 50%; */
	width: clamp(200px, 34vw, 370px);

}

.img_size {
	width: 42%;
	position: relative;
}

.img_cut_diagoally {
	position: relative;
	overflow: hidden;
}

.overflow_hidden {
	overflow: hidden;
}

.img_size::before {
	content: "";
	position:absolute;
	width:0px;
	height:0;
	right: -2px;
	bottom: 0px;
	border-style: solid;
	border-width: 0 0 15rem 20px ;
	border-color: transparent #f6f6f6 #f6f6f6 transparent;
	z-index: 10;
	overflow: hidden;
}

.gap_2 {
	gap: 10px;
}

.pc_emphasis_word_2 {
	font-size: clamp(16px, 2.4vw, 32px);
	margin-bottom: -4px;
	color: #42210B;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.background_white {
	background-color: #f6f6f6;
	width: calc(62% - 1.5rem);
	padding-left: 0.5rem;
	padding-right: 1rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.pc_price_2 {
	font-size: 2.4rem;
	color: #C01C24;
	font-weight: bolder;
	margin-bottom: -2px;
}

.pc_yen_2 {
	font-size: clamp(10px, 1.6vw, 16px);
	color: #CC464C;
	font-weight:normal;
}

.pc_tax_included_2 {
	font-size: clamp(10px, 1.7vw, 26px);
	font-weight: bolder;
}

.pc_yen_3 {
	font-size: clamp(10px, 1.2vw, 12px);
	color: #CC464C;
	font-weight:normal;
}

.content_2_1 {
	position: relative;
}

.content_2_1::after {
	content:"";
	position:absolute;
	display: inline-block;
	bottom: -1.5px;
	right: -1.5px;
	width: clamp(24px, 4vw, 40px);
	height: clamp(24px, 4vw, 40px);
	background-image: url("../../lp2-temp/images/motchan/pink_arrow.png");
	background-size: contain;
}

.content_2_2 {
	position: relative;
}

.content_2_2::after {
	content:"";
	position:absolute;
	display: inline-block;
	bottom: -1.5px;
	right: -1.5px;
	width:  clamp(24px, 4vw, 40px);
	height:  clamp(24px, 4vw, 40px);
	background-image: url("../../lp2-temp/images/motchan/green_arrow.png");
	background-size: contain;
}

.content_2_3 {
	position: relative;
}

.content_2_3::after {
	content:"";
	position:absolute;
	display: inline-block;
	bottom: -1.5px;
	right: -1.5px;
	width:  clamp(24px, 4vw, 40px);
	height:  clamp(24px, 4vw, 40px);
	background-image: url("../../lp2-temp/images/motchan/blue_arrow.png");
	background-size: contain;
}



/* 上部分の家族葬 SP版 */
.wrapper_text_2 {
	padding: 8px;
	width: calc(100% - 16px); 
}
.border_medeum {
	border: 3px solid #A62364;
}


.content_1 {
	position: relative;
}

.content_1::after {
	content:"";
	position:absolute;
	display: inline-block;
	bottom: -1.5px;
	right: -1.5px;
	width: clamp(30px, 9vw, 50px);
	height: clamp(30px, 9vw, 50px);
	background-image: url("../../lp2-temp/images/motchan/pink_arrow.png");
	background-size: contain;
}

.gap_1 {
	gap: 2%;
	justify-content: center;
	padding-top: 2%;
}

.content_2 {
	position: relative;
}

.content_2::after {
	content:"";
	position:absolute;
	display: inline-block;
	bottom: -1.5px;
	right: -1.5px;
	width: clamp(30px, 9vw, 50px);
	height: clamp(30px, 9vw, 50px);
	background-image: url("../../lp2-temp/images/motchan/green_arrow.png");
	background-size: contain;
}

.content_3 {
	position: relative;

}

.content_3::after {
	content:"";
	position:absolute;
	display: inline-block;
	bottom: -1.5px;
	right: -1.5px;
	width: clamp(30px, 9vw, 50px);
	height: clamp(30px, 9vw, 50px);
	background-image: url("../../lp2-temp/images/motchan/blue_arrow.png");
	background-size: contain;
}

.wrapper_content{
	width: 49%;
}



.family_img {
	width: 50%;
	position: relative;
	left: -0.5%;
}

.flex_box_2 {
	width: calc(50% - 8px);
	padding-left: 8px;
	padding-right: 8px;
	text-align: justify; 
}

.sp_emphasis_word_2 {
	font-size: clamp(20px, 6.25vw, 36px);
	color: #472712;
}

.sp_explanation_3 {
	font-size: clamp(10px, 3.1vw, 18px);
	color: black;
	line-height: 4.6rem;
}

.sp_price_2 {
	font-size: 7.3rem;
	color: #C01C24;
	font-weight: bolder;
	line-height: 9rem;
	margin-bottom: -2rem;
}

.sp_yen_2 {
	font-size: clamp(10px, 3vw, 16px);
	font-weight:normal;
	color: #CC464C;
}

.sp_tax_included_2 {
	font-size: clamp(14px, 4.3vw, 24px);
	margin-bottom: -1rem;
}

.margin_top_-8px {
	margin-top: -8px;
}

.wrapper_info {
	padding: 0px 8px 8px 8px;
}

.price_wrapper {
	width:95%;
}

.price_wrapper_2 {
	width:90%;
}

/* ここまでPC家族上部 */

/* ここからPCコロナ */
.wrapper_text_3 {
	padding: 0px 16px ;
}

.pc_corona_button {
	border: 2px solid #BFA784;
	padding: 16px 28px 16px 8px;
	color: black;
	font-size: clamp(12px, 2.1vw, 21px);
	position:relative;
	border-radius: 3px;
}

.pc_corona_button::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/down_arrow_button.png);
	width: 3rem;
	height: 3rem;
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

/* ここまでPCのコロナ */

/* ここから電話とコロナ */
.back_slash_2 {
	transform: rotateY(180deg);
	display:inline-block;
}
.padding_left {
	padding-left: 2px;
}

.tel_button {
	background-color: #A41E25;
	color: #f6f6f6;
	box-shadow: 0px 4px #771510;
	margin: 16px;
	position:relative;
	border-radius: 3px;
	max-width: 750px;
}

.flex_text {
	width: 60%;
	margin-left: auto;
}

.margin_top {
	margin-top: 0px;
}

.tel_icon {
	width: 20%;
	margin-right: auto;
	position: relative;
	left: -1rem;
}

@media screen and (min-width:400px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.tel_icon {
		left: 0;
	}
}

.tel_icon_img {
	width: 10rem;
	height: 10rem;
	vertical-align: middle;
	position: absolute;
	top:0;
	bottom: 0;
	left:16px;
	margin: auto auto auto 0;
	
}


.response_time {
	background-color: #f6f6f6;
	border-radius: 9999px;
	color: #A41E25;
	width:fit-content;
	display: inline-block;
	padding: 0px 10rem;
	margin-top: 2rem;
	font-size: 3rem;
	position: relative;
	z-index: 12;
}

.tel_button_text {
	padding-top: 4px;
	font-size: 7rem;
}

@media screen and (min-width:581px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.tel_button {
		margin: 32px auto;
		width: 73%;
	}
}

.document_request_button {
	background-color: #168171;
	padding: 16px;
	color: #f6f6f6;
	font-size: 4.5rem;
	box-shadow: 0px 4px #0F2D0D;
	margin: 16px;
	position:relative;
	border-radius: 8px;
	max-width: 750px;
}

@media screen and (min-width:430px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.document_request_button {
		font-size: 5rem;
	}
}


@media screen and (min-width:581px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.document_request_button {
		margin: 32px auto;
		width: 73%;
	}
}

.document_request_button::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/icon_document.png);
	width: clamp(30px, 7.5vw, 60px);
	height: clamp(30px, 7.5vw, 60px);
	left: 7%;
	top: -2px;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.document_request_button::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(20px, 5.0vw, 40px);
	height: clamp(20px, 5.0vw, 40px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (min-width:581px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.document_request_button {
		margin: 32px auto;
		width: 73%;
	}
}

.document_request_button::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/icon_document.png);
	width: clamp(30px, 7.5vw, 60px);
	height: clamp(30px, 7.5vw, 60px);
	left: 7%;
	top: -2px;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.document_request_button::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(20px, 5.0vw, 40px);
	height: clamp(20px, 5.0vw, 40px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

/* ここからコロナ */
.sp_corona_button {
	border: 2px solid #BFA784;
	padding: 12px 28px 12px 8px;
	color: black;
	font-size: clamp(10px, 3.2vw, 20px);
	position:relative;
	border-radius: 3px;
	max-width: 750px;
}

@media screen and (min-width:581px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.sp_corona_button {
		margin: 32px auto;
		width: 73%;
	}
}

.sp_corona_button::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/down_arrow_button.png);
	width: clamp(20px, 5.0vw, 40px);
	height: clamp(20px, 5.0vw, 40px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}


/* ここまでコロナ */

/* html {
	font-size: 16px;    //すでに決まっている
} */

/* ここからサービスエリア */

/* .wrapper_heading {
	max-width: 1100px;
	margin: 0px auto;
} */

@media screen and (min-width:1100px) {
	.wrapper_texts {
		padding:3rem;
	}
}

@media screen and (min-width:1400px) {
	.wrapper_texts {
		padding:5rem;
	}
}

.heading_green {
	color: #029E81;
	text-align: center;
	font-size: clamp(20px, 5vw, 54px);
	width: 100vw;
	margin: 0 calc(50% - 50vw);
	border-bottom: medium solid #029E81;
	line-height: 8rem;
}
.wrapper_sikizyou_sentence {
	padding: 16px;
	background-color: #F6F2EF;
}
.flex_responsive {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	align-items: center;
}

.prefecture {
	font-size: clamp(18px, 5.3vw, 28px);
	padding:5px 5px 16px 5px;
	font-weight: bold;
	line-height: 2em;
}

.emphasis {
	font-size: clamp(32px, 9vw, 80px);
}
.text_green {
	color:#1B997A;
}

.text_bold {
	font-weight: bold;
}

.appeal_text {
	color: #1B784C;
	font-size: clamp(18px, 5.3vw, 28px);
	text-align:center;
	padding: 10px;
	border: medium solid #1B784C;
}

.img_prefecture {
	padding-top: 5rem;
}

@media screen and (max-width:579px) {
	.heading_green {
		line-height: 10rem;
		font-size: clamp(25px, 4.5vw, 48px);
	}
}


@media screen and (min-width:580px) {
    /*　画面サイズが580pxからはここを読み込む　*/
	.flex_responsive {
		flex-flow: row;
	}
	.img_prefecture {
		width: calc(45% - 16px);
		padding: 0 0 0 16px;
	}
	.wrapper_sikizyou_sentence {
		padding: 40px 32px;
	}
	.heading_green {
		font-size: 4rem;
		border-bottom: thick solid #029E81;
		width: 100vw;
		margin: 0 calc(50% - 50vw);
	}
	.prefecture {
		font-size: clamp(18px, 2.75vw, 36px);
		padding:5px 5px 16px 5px;
	}
	.emphasis {
		font-size: clamp(28px, 4.2vw, 48px);
	}
	.appeal_text {
		color: #1B784C;
		font-size: clamp(16px, 2.7vw, 32px);
		text-align:center;
		padding: 8px;
		border: medium solid #1B784C;
	}
}


                /* ここから家族葬、一日葬、一般葬 */
/* pc版 */
.pc_text_1 {
	font-size: clamp(18px, 2.9vw, 40px);
}


	.wrapper_text {
		padding: 16px;
	}
	.text_img_2 {
		width: clamp(110px, 25%, 220px);
		vertical-align: middle;
		padding-right: 8px;
		padding-bottom: 7px;
	}

	.text_1 {
		/* font-size: 14px; */
		/* font-size: 20px; */
		font-size: clamp(14px, 4.3vw, 24px);
		/* line-height: clamp(24px, 4.8vw, 54px); */
	}
	.middle_text_br {
		white-space: nowrap;
	}
	.middle_text_br_pc {
		display: none;
	}

	@media screen and (min-width:581px) {
		/*　画面サイズが580pxより大きい場合はここを読み込む　*/
		.wrapper_text {
			padding: 20px 45px 10px;
		}
		.wrapper_text2 {
			padding: 0px 45px 15px;
		}
		.middle_text_br_sp {
			display: none;
		}
		.middle_text_br_pc {
			display: block;
		}
	}


/* ここからカード */
/* spのカード */
.wrapper_sp_card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0px 16px;
}

.card {
	width: 100%;
	margin-right: auto;
	margin-right: auto;
	max-width: 320px;
	border-radius: 10px;
	justify-content: space-around;
}

.sp_card_heading {
	font-size: 4rem;
	padding: 4px;
	color: #f6f6f6;
	font-weight: normal;
}

.card_content {
	padding: 8px 8px;
}

.sp_card_img {
	width:35%;
	display: inline-block;
	border-radius: 3px;;
}

.flex_box {
	width: calc(65% - 8px);
	padding-left: 8px;
}

.sp_emphasis_word {
	font-size: clamp(28px, 8.8vw, 52px);
	font-weight: bolder;
	width: 100%;
	line-height: 13rem;
}

.sp_explanation {
	font-size: clamp(10px, 2.95vw, 16px);
	background-color: #C01C24;
	display:inline-block;
	color: #f6f6f6;
	border-radius: 9999px;
	width: 100%;
	line-height: 4.5rem;
}

.sp_price {
	font-size: 9rem;
	color: #C01C24;
	font-weight: bolder;
	line-height: 14rem;
}

.sp_yen {
	font-size: clamp(12px, 3.45vw, 18px);
	font-weight:normal;
	color: #CC464C;
}

.sp_tax_included {
	font-size: clamp(20px, 6.65vw, 40px);
	line-height: 10rem;
	margin-top: -4rem;
}
.tax_included {
	margin-top: -1rem;
	font-size: 2rem;
}

.sp_explanation_2 {
	display:inline-block;
	color: #C01C24;
	border: thin solid #C01C24;
	font-size: clamp(10px, 3.3vw, 20px);
	width: auto;
	padding: 2px 8px;
	margin-top: 2px;
	line-height: 5rem;
}

.sp_card_bottom {
	color: #f6f6f6;
	position: relative;
	font-size: 4rem;
	padding: 4px;
}

.sp_card_bottom:after {
	content: "";
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 5%;
	width: 4rem;
	height: 4rem;
	background-image: url("../../lp2-temp/images/motchan/button_detail.png");
	background-size: contain;
}

.pink_color_border {
	border: 2px solid #A62364;
}

.green_color_border {
	border: 2px solid #4A9550;
}

.blue_color_border {
	border: 2px solid #216E7F;
}
.green_color_background {
	background-color: #A62364;
}
.red_color_background {
	background-color: #4A9550;
}
.blue_color_background {
	background-color: #216E7F;
}
.green_color {
	color: #A62364;
}
.red_color {
	color: #4A9550;
}
.blue_color {
	color: #216E7F;
}

.wrapper_pc_card {
	display: none;
}
@media screen and (min-width:580px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.wrapper_sp_card {
		display: none;
	}
	.wrapper_pc_card {
		display:inline-block;
		width: calc(100% - 32px);
	}
}

.border_1 {
	border-radius: 10px;
}

.border_width_medium {
	border-width:2.5px;
}


/* pc card ver. */
.wrapper_pc_cards {
	width: calc(100% - 24px);
	max-width: 1100px;
	margin: auto;
	padding: 12px;
}

.card_gap {
	gap: clamp(12px, 2.15vw, 24px);
}
.wrapper_pc_card {
	width: calc(33.3% - clamp(12px, 2.15vw, 24px)/2);
}
.inline_block {
	display:inline-block;
}
.justify_content_center {
	justify-content: center;
}

.pc_card {
	margin-right: auto;
	margin-right: auto;
	border-radius: 10px;
	justify-content: space-around;
}

.shadow {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}

.pc_card_content {
	padding: 4px 4px;
}

.card_heading_box {
	border-radius: 8px 8px 0px 0px;
}

.pc_card_heading {
	font-size: clamp(13px, 2.1vw, 20px);
	padding: clamp(4px, 0.71vw, 8px);
	color: #f6f6f6;
	font-weight: normal;
}

.pc_card_bottom {
	font-size: clamp(13px, 2.1vw, 20px);
	padding: clamp(4px, 0.71vw, 8px);
	color: #f6f6f6;
	position: relative;
}
.pc_card_bottom::after {
	content: "";
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	right: 5%;
	margin: auto;
	width: clamp(15px, 2.45vw, 25px);
	height: clamp(15px, 2.45vw, 25px);
	background-image: url("../../lp2-temp/images/motchan/button_detail.png");
	background-size: contain;
}

.pc_emphasis_word {
	font-size: clamp(24px, 4.25vw, 48px);
	font-weight: bolder;
}

.pc_explanation {
	background-color: #C01C24;
	display:inline-block;
	color: #f6f6f6;
	padding: 2px 0px;
	border-radius: 9999px;
	font-size: clamp(10px, 1.65vw, 18px);
	margin: clamp(4px, 0.71vw, 8px) 0px;
	width: 100%;
}

.pc_price {
	font-size: clamp(28px, 4.95vw, 56px);
	color: #C01C24;
	font-weight: bolder;
}
.pc_yen {
	font-size: clamp(12px, 2.15vw, 24px);
	font-weight:normal;
	color: #CC464C;
}
.pc_tax_included {
	font-size: clamp(20px, 3.4vw, 40px);
	color: #C01C24;
	font-weight: bolder;
	margin-top: -1rem;
}

.pc_explanation_2 {
	border: thin solid #C01C24;
	display:inline-block;
	color: #C01C24;
	padding: 2px 4px;
	font-size: clamp(10px, 1.75vw, 20px);
	margin: clamp(4px, 0.71vw, 8px) 0px;
	font-weight: bolder;
	width: auto;
}







.justify_content_center {
	justify-content: center;
}
.justify_content_space_between {
	justify-content:space-between;
}
.text_align_center {
	text-align:center;
}



/* .wrapper {
	max-width: 1100px;
	margin: auto;
} */

.flex {
	display: flex;
}
.green_box {
	background-color: #008c61;
	padding: 0.5rem 0rem;
	width: 100%vw;
	vertical-align: middle;
}
.text_img {
	width: 55%;
	max-width: 450px;
}

.font_heading_2 {
	font-size: clamp(1.1rem, 5vw, 2.5rem);
	display:inline-block;
}

.wrapper_box {
	padding: 1rem;
}
		
.flex_container {
	align-items: flex-start;
}

.font_weight_normal {
	font-weight: normal;
}

.card_img {
	width:96%;
	display: inline-block;
	padding: 0 2%;
}


.font_weight_normal {
	font-weight: normal;
}


/* .sp_card_content {
	padding-left: clamp(0.5rem, 2.4vw, 1rem);
} */
.card_bottom_box {
	border-radius: 0px 0px 8px 8px;
}


.sp_card {
	max-width: 500px;
	/* // width: 80%; */
	margin: 0 auto;
}









/* ここからお気軽にご相談下さい */
.pale_green_background ol li {
	font-weight: bold;
	color: #42210B;
	max-width: 1100px;
	margin: 0 auto;
}

.green_box_2 {
	font-size: clamp(16px, 4vw, 40px);
	font-weight: bold;
	color: #f6f6f6;
	padding: clamp(9px, 2.7vw, 27px) 0px;
	background-color: #1C9E80;
}


.inverted_triangle {
	width: clamp(20px, 3.95vw, 40px);
	margin: 0px auto 0px auto;
	position: relative;
	top: -17px;
}

.pale_green_background {
	background-color: #F6F2EF;
	padding: 12px 16px;
	font-size: min(2.7rem, 30px);
}

@media screen and (min-width:580px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.pale_green_background {
		padding-left: 88px;
	}
}

@media screen and (max-width:790px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.pale_green_background {
		font-size: min(3.7rem, 30px);
	}

	.pale_green_background ol {
		margin-top: -1rem;
	}

	.pale_green_background ol li {
		line-height: 6rem;
	}
}

.ellipse1 {
	width: clamp(10px, 2.4vw,30px);
	vertical-align: middle;
	padding-right: 8px;
	padding-bottom: 3px;
}

@media screen and (max-width:790px) {
	.ellipse1 {
		padding-bottom: 0px;
	}
}

.flex_center {
	justify-content: center;
	align-items: center;
}	



.flex_box_consul_wrapper_img {
	width:36%;
	align-items: flex-start;
	/* margin-bottom: -50px; */
}

.flex_box_img {
	width: 100%;
}

/* .red_circle{
	position:relative;

	background-color: #AB0F07;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	top: -70%;
	right: -75%;

}

.circle_inner {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10px;
	white-space: nowrap;
	color: #f6f6f6;
} */

.flex_box_consul_text {
	width: calc(60% - 16px);
	padding-left: 16px;
	font-size: min(2.7rem, 35px);
	line-height: 4.6rem;
}

.estimate_consul {
	background-color: #cd3164;
	padding: 16px;
	color: #f6f6f6;
	font-size: min(4rem, 34px);
	box-shadow: 0px 4px #6B1818;
	margin: 16px;
	position:relative;
	border-radius: 8px;
}

.max_width_specify {
	width:70%;
	max-width: 400px;
	margin:16px auto;
}

@media screen and (min-width:581px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.estimate_consul {
		margin: 20px auto;
		width: 68%;
	}
}

@media screen and (max-width:790px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.flex_box_consul_text {
		width: calc(55% - 16px);
		padding-left: 16px;
		font-size: min(3.7rem, 35px);
		line-height: 5.6rem;
	}
}

.estimate_consul::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/calculator.png);
	width: clamp(25px, 7vw, 50px);
	height: clamp(25px, 7vw, 50px);
	left: 7%;
	top: -2px;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.estimate_consul::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(16px, 4vw, 32px);
	height: clamp(16px, 4vw, 32px);
	right: 3%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.padding_adjust {
	padding-bottom: 145rem;
}

@media screen and (max-width:790px) {
	.estimate_consul {
		font-size: 4.5rem;
	}

	.estimate_consul::before {
		width: clamp(30px, 7.5vw, 60px);
		height: clamp(30px, 7.5vw, 60px);
	}

	.estimate_consul::after {
		width: clamp(20px, 5vw, 40px);
		height: clamp(20px, 5vw, 40px);
	}
}




/* ここは見積もり相談２ */

.green_background_text {
	color: #f6f6f6;
	background-color: #1C9E80;
	font-size: min(5rem, 40px);
	width: 70%;
	margin: auto;
	border-radius: 9999px;
	padding: clamp(4px, 1vw, 8px) clamp(8px, 2.75vw, 32px);
	line-height: 4rem;
}

@media screen and (min-width:579px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.green_background_text {
		font-size: min(3rem, 30px);
	}
}





.justyify_content_flex_end {
	justify-content: flex-end;
	align-items: flex-end;
}

.koe {
	width: 30%;
	padding-bottom: 10px;
	font-size: clamp(14px, 4.1vw, 42px);
	position: relative;
	color: #B34741;
	line-height: 3.5rem;
}

.back_slash {
	width: 10%;
	font-size: 10rem;
	transform: rotateY(180deg) scale(0.7, 1);
	text-align:left;
	color: #B34741;
}

.slash {
	width: 10%;
	font-size: 10rem;
	text-align:left;
	color: #B34741;
	transform: scale(0.7, 1);
}

@media screen and (min-width:580px) {
	.slash {
		font-size: min(7rem, 84px);
	}
	.back_slash {
		font-size: min(7rem, 84px);
	}
	.koe {
		font-size: min(2.5rem, 30px);
	}
}

@media screen and (max-width:579px) {
	.green_background_text {
		font-size: min(4rem, 40px);
		width: 80%;
		line-height: 6rem;
	}
	.koe {
		width: 35%;
		line-height: 6rem;
	}
}

.wrapper_guide {
	width: 19%;
	padding-right:32px;
}

@media screen and (min-width:430px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.wrapper_guide {
		width: 14%;
		padding-right:80px;
	}
}

.guide {
	width:100%;
}

.estimate_consul_2 {
	width: calc(90% - 4rem);
	background-color: #cd3164;
	padding:2rem;
	color: #f6f6f6;
	font-size: min(5rem, 34px);
	box-shadow: 0px 4px #6B1818;
	margin: 0px auto 2rem;
	position:relative;
	border-radius: 8px;
	max-width: 540px;
}
.estimate_consul_2::before {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/free.png);
	width: 10rem;
	height: 5rem;
	left: 9%;
	top: -2px;
	bottom: 0;
	margin: auto;
	/* padding:5px 0; */
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (min-width:580px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.estimate_consul_2::before {
		width: min(9rem, 123px);
		height: min(4rem, 56px);
		left: 5%;
		top: -2px;
	}
}






.estimate_consul_2::after {
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(../../lp2-temp/images/motchan/vector.png);
	width: clamp(16px, 4.0vw, 32px);
	height: clamp(16px, 4.0vw, 32px);
	right: 9%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (min-width:580px) {
	/*　画面サイズが580pxより大きい場合はここを読み込む　*/
	.wrapper_estimate {
		margin: auto;
		width: 73%;
		max-width: 750px;
	}
}

/* お葬儀式場事例 */
.font_size_heading {
	font-size: 32px;;
}


/* 電話対応 */
.wrapper_pc_section_contact {
	position:relative;
}

#pc_section_contact_2 {
	position:absolute;
	top: 0%;
	left: 0;
	width: 40%;
	padding: 0 5%;
}




/* 式場 SP版*/

.sikizyou_catalog {
	vertical-align: middle;
	margin-left: auto;
	line-height: 6rem;
}

.wrapper_right_button {
	vertical-align: middle;
	width:10px;
	height:20px;
	margin: auto 0 auto auto;
}


.pc_sikizyou_catalog {
	vertical-align: middle;
	margin-left: auto;
}

.pc_wrapper_right_button {
	vertical-align: middle;
	width:10px;
	height:20px;
	margin: auto 0 auto auto;
}








/* セレモアが選べれる６つの理由 */


/* PC */

.pc_reason_1 {
	position: absolute;width: 26%;top: 21.6%;left: 5%;padding: 1rem 1%;font-size: 2.5rem;font-weight: bold;line-height: 3rem;
}

.pc_reason_1_2 {
	position: absolute;width: 26%;top: 31.5%;left: 4.9%;padding: 1rem 1%;font-size: 1.2rem;line-height: 1.8rem;
}

.pc_reason_1_3 {
	position: absolute; width: 26%;top: 34%;left: 4.9%;padding: 1rem 1%;font-size: 1.8rem;line-height: 2.8rem;
}

.pc_reason_2 {
	position: absolute;width: 26%;top: 21.6%;left: 36%;padding: 1rem 1%;font-size: 2.5rem;font-weight: bold;line-height: 3rem;
}

.pc_reason_2_2 {
	position: absolute; width: 26%;top: 31.5%;left: 35.9%;padding: 1rem 1%;font-size: 1.5rem;line-height: 2.2rem;
}

.pc_reason_2_3 {
	position: absolute; width: 26%;top: 34.3%;left: 35.9%;padding: 1rem 1%;font-size: 1.8rem;line-height: 2.8rem;
}

.pc_reason_3 {
	position: absolute; width: 26%;top: 22%;left: 67%;padding: 1rem 1%;font-size: 2.5rem;font-weight: bold;line-height: 3rem;text-align: center;
}

.pc_reason_3_2 {
	position: absolute; width: 26%;top: 31.4%;left: 66.9%;padding: 1rem 1% 0;font-size: 1.8rem;line-height: 2.8rem;
}

.pc_reason_4 {
	position: absolute; width: 20%;top: 57.7%;left: 5%;padding: 1rem 4% 1rem 4%;font-size: 2.5rem;font-weight: bold;line-height: 3rem;
}

.pc_reason_4_2 {
	position: absolute;width: 24%;top: 68%;left: 4.9%;padding: 1rem 1%;font-size: 1.8rem;line-height: 2.8rem
}

.pc_reason_5 {
	position: absolute; width: 16%;top: 57.7%;left: 36%;padding: 1rem 5% 1rem 7%;font-size: 2.5rem;font-weight: bold;line-height: 3rem;
}

.pc_reason_5_2 {
	position: absolute; width: 26%;top: 67%;left: 35.9%;padding: 1rem 1% 0;font-size: 1.8rem;line-height: 2.8rem;
}

@media screen and (min-width:600px) {
	.pc_reason_4 {top: 58.6%;}

	.pc_reason_4_2 {top: 68.5%;}

	.pc_reason_5 {top: 58.6%;}

	.pc_reason_5_2 {top: 68%;}
}

@media screen and (min-width:700px) {
	.pc_reason_1 {top: 21.5%;}

	.pc_reason_2 {top: 21.5%;}

	.pc_reason_3 {top: 22%;}

	.pc_reason_4 {top: 58.6%;}

	.pc_reason_4_2 {top: 69%;}

	.pc_reason_5 {top: 58.6%;}

	.pc_reason_5_2 {top: 68%;}
}

@media screen and (min-width:900px) {
	.pc_reason_1 {top: 22%;}

	.pc_reason_2 {top: 22%;}

	.pc_reason_3 {top: 22%;}

	.pc_reason_4 {top: 58.8%;}

	.pc_reason_4_2 {top: 69.4%;}

	.pc_reason_5 {top: 58.8%;}

	.pc_reason_5_2 {top: 68.3%;}
}

@media screen and (min-width:1200px) {
	.pc_reason_1 {top: 22%;}

	.pc_reason_1_2 {top: 31.8%;}

	.pc_reason_1_3 {top: 34.3%;}
	
	.pc_reason_2 {top: 21.2%;}
	
	.pc_reason_2_2 {top: 31.8%;}
	
	.pc_reason_2_3 {top: 34.6%;}

	.pc_reason_2 {top: 22%;}

	.pc_reason_3 {top: 22%;}

	.pc_reason_3_2 {top: 31.8%;}

	.pc_reason_4 {top: 59.5%;}

	.pc_reason_4_2 {top: 70%;}

	.pc_reason_5 {top: 59.5%;}

	.pc_reason_5_2 {top: 68.8%;}
}

@media screen and (min-width:1280px) {
	.pc_reason_4 {top: 60.2%;}

	.pc_reason_4_2 {top: 70.3%;}

	.pc_reason_5 {top: 60.2%;}

	.pc_reason_5_2 {top: 69.3%;}
}

@media screen and (min-width:1400px) {
	.pc_reason_1 {top: 22.3%;}

	.pc_reason_1_2 {top: 32%;}

	.pc_reason_1_3 {top: 34.6%;}
	
	.pc_reason_2 {top: 22.3%;}
	
	.pc_reason_2_2 {top: 32%;}
	
	.pc_reason_2_3 {top: 34.9%;}

	.pc_reason_2 {top: 22.3%;}

	.pc_reason_3 {top: 22.3%;}

	.pc_reason_3_2 {top: 32.2%;}

	.pc_reason_4 {top: 60.4%;}

	.pc_reason_4_2 {top: 71%;}

	.pc_reason_5 {top: 60.4%;}

	.pc_reason_5_2 {top: 69.9%;}
} 



.selected-reasons-sp {
	position: relative;
}

.sp_reason {
	position: absolute;
}

.sp_reason_1 {
	width: 62%;
	top: 6%;
	left: 27%;
	padding: 2rem 2%;
	font-size: 5.5rem;
	font-weight: bold;
	line-height: 7rem;
}

.sp_reason_1_2 {
	width: 78%;
	top: 61%;
	left: 7%;
	padding: 2rem 4%;
	font-size: 3.5rem;
	line-height: 4.5rem;
}

.sp_reason_1_3 {
	width: 78%;
	top: 71%;
	left: 7%;
	padding: 2rem 4%;
	font-size: 4.2rem;
	line-height: 6rem;
}

.sp_reason_2 {
	width: 62%;
	top: 5%;
	left: 27%;
	padding: 2rem 2%;
	font-size: 5.5rem;
	font-weight: bold;
	line-height: 7rem;
}

.sp_reason_2_2 {
	width: 78%;
	top: 52%;
	left: 7%;
	padding: 2rem 4%;
	font-size: 3.5rem;
	line-height: 4.5rem;
}

.sp_reason_2_3 {
	width: 75%;
	top: 60%;
	left: 7%;
	padding: 2rem 4%;
	font-size: 4.2rem;
	line-height: 6rem;
}

.sp_reason_3 {
	width: 62%;
	top: 5%;
	left: 27%;
	padding: 2rem 2%;
	font-size: 5.5rem;
	font-weight: bold;
	line-height: 9rem;
}

.sp_reason_3_2 {
	width: 78%;
	top: 34%;
	left: 7%;
	padding: 2rem 4% 0 3%;
	font-size: 4.2rem;
	line-height: 6rem;
}

.selected-reasons-sp-3 #app_n6_1 {
	position: absolute;
    display: block;
    width: 100%;
    height: 10%;
    top: 85%;
    left: 0;
}

.sp_reason_4 {
	width: 62%;
	top: 7%;
	left: 27%;
	padding: 2rem 2%;
	font-size: 5.5rem;
	font-weight: bold;
	line-height: 7rem;
}

.selected-reasons-sp-4 #app_n6_2 {
	position: absolute;
    display: block;
    width: 100%;
    height: 19%;
    top: 49%;
    left: 0;
}

.sp_reason_5 {
	width: 62%;
	top: 7%;
	left: 27%;
	padding: 2rem 2%;
	font-size: 5.5rem;
	font-weight: bold;
	line-height: 7rem;
}

.sp_reason_5_1 {
	width: 78%;
	top: 61%;
	left: 7%;
	padding: 2rem 4% 0 3%;
	font-size: 4.2rem;
	line-height: 6rem;
}

.footer_button_left {
		width:33%;
}

.footer_button_middle {
	width:33%;
}


.footer_button_right {
	width:33%;
}