/*======================
		セレモアLP
========================*/
/* 共通 */

* {
	margin: 0;
	padding: 0;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
a, a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
img {
	width: 100%;
	display: block;
}
.wrapper {
	background-color: #f6f6f6;
}
.inner {
	width: 580px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	overflow: hidden;
	padding: 0 0 100px;
}
.inner_sub {
	width: 580px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	overflow: hidden;
	padding: 0;
}
.inner2 {
	width: 1500px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	overflow: hidden;
	padding: 0 0 100px;
}
.inner2_sub {
	width: 1500px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
	overflow: hidden;
	padding: 0;
}

.rrt {
	position: relative;
	animation: poyopoyo 2s ease-out infinite;
	opacity: 1;
}

.rrt2 {
	position: relative;
	top: 3px;
}

@media screen and (max-width:580px) {
	.rrt2 {
		top: 2px;
	}
}

/* @keyframes poyopoyo {
	0%, 40%, 60%, 80% {
		transform: scale(1.0);
	}
	50%, 70% {
		transform: scale(0.95);
	}
} */

@keyframes poyopoyo {
	0%, 100% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(0.95);
	}
}

.phone, .phone-w {
	position: absolute;
	width: 1em;
	height: 1em;
	margin: auto;
}

#pc, #pc2, #pc3, #pc4 {
	display: block;
}
#pc_section_sougi, #pc_section_sikijou, #pc_section_corona {
	display: block;
}

#app, #app2, #app3, #app4 {
	display: none;
}
#app_section_sougi, #app_section_sikijou, #app_section_corona {
	display: none;
}

@media screen and ( min-width:581px ) {
	.sp {
		display: none !important;
	}
}
@media screen and ( max-width:580px ) {
	.pc {
		display: none !important;
	}
	#pc, #pc2, #pc3, #pc4 {
		display: none;
	}
	#pc_section_sougi, #pc_section_sikijou, #pc_section_corona {
		display: none;
	}
	
	#app, #app2, #app3, #app4 {
		display: block;
	}
	#app_section_sougi, #app_section_sikijou, #app_section_corona {
		display: block;
	}
	
	.inner {
		width: 100%;
		box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0 0 75px;
	}
	.inner_sub {
		width: 100%;
		box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0;
	}
}
@media screen and ( max-width:1500px ) {
	.inner2 {
		width: 100%;
		box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0 0 75px;
	}
	.inner2_sub {
		width: 100%;
		box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0;
	}
}

.flex {
	display: -webkit-box;
	display: flex;
	display: flexbox;
	display: -ms-flexbox;
}

/* ヘッダー */
#header {
    position: relative;
    z-index: 1;
    background: #fff;
	font-size: 2vw;
	height: 3.5em;
}
@media screen and (min-width: 1500px) {
	#header {
		font-size: 30px;
	}
}
#header .content {
	height: inherit;
	max-width: 1500px;
	margin: auto;
	justify-content: space-evenly;
}
#header .flex > div,
#header .flex .col {
	display: inherit;
	height: inherit;
}
#header .flex .img {
	display: inherit;
	height: inherit;
	padding: .75em 1em;
	box-sizing: border-box;
}
#header .flex .img img {
	height: 100%;
	width: auto;
}
#header .flex .left-col .img {
	padding: .5em;
}
#header .flex .mid-col {
	position: relative;
	right: 7%;
}
#header .flex .right-col {
	position: relative;
	left: 2.2%;
}
#header .flex .right-col .img {
	padding: .75em .25em;
}
@media screen and (max-width: 580px) {
	#header {
		font-size: 4vw;
	}
	#header .content {
		justify-content: space-between;
	}
	#header .flex .img {
		padding: .5em .75em;
	}
	#header .flex .mid-col {
		right: 0%;
	}
	#header .flex .right-col {
		left: 0%;
	}
	#header .flex .right-col .img {
		padding: 0em;
	}
}

#fv_bg .pc {
	position: relative;
	width: 110%;
	right: 5%;
}

#pc_section_contact {
	width: 43%;
}

@media screen and (min-width: 1100px) {
	#pc_section_contact {
		top: 43%;
	}
}

#sp_section_contact {
	padding: 1rem 5% 3rem;
	background-color: #F5F3DC;
}

#pc_section_contact .sup-txt {
	font-size: 1.9em;
	letter-spacing: 1.2;
	text-align: center;
	color: #CC1C24;
	text-shadow: 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff,
	0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff;
}

#sp_section_contact .sup-txt {
	font-size: 2.2em;
	letter-spacing: 1.2;
	text-align: center;
	color: #CC1C24;
}


#sp_section_contact .sup-txt {
	font-size: 5.5rem;
}

#sp_section_contact > div,
#pc_section_contact > div {
	width: 100%;
	padding: 1% 0%;
}

#sp_section_contact .urgent div,
#pc_section_contact .urgent div {
	padding: 0 1%;
}

#sp_top_area br {
	display: none;
}
#sp_top_area br {
	display: none;
}
/* #firstview { */
	/* background-image: url('../images/fv-bg-pc.png'); */
/* } */
/* @media screen and (max-width: 580px) {
	#firstview {
		background-image: url('../images/fv-bg-sp.png');
	}
} */

#pc_section_contact2,
#pc_section_contact3,
#pc_section_contact4,
#sp_section_contact2,
#sp_section_contact3 {
	position: absolute;
	bottom: 2%;
	width: 90%;
	padding: 0 5%;
}

@media screen and (min-width: 581px) {
	#pc_section_contact2,
	#pc_section_contact3,
	#pc_section_contact4,
	#sp_section_contact2,
	#sp_section_contact3 {
		bottom: 2.2%;
	}
}

#sp_section_contact4,
#sp_section_contact5 {
	position: absolute;
	bottom: 2%;
	width: 90%;
	padding: 0 5%;
}

#pc_section_contact5,
#pc_section_contact6 {
	width: 70%;

	padding: 2.5% 15% 5%;
	background-color: #F5F3DC;

	margin-top: 0px;

}

/* #pc_section_contact5 .margin_top_16px {

} */

/* #pc_section_contact6 {
	width: 90%;
	margin: auto;
	padding: 3rem;
} */

#sp_section_contact6 {
	/* position: relative;
	bottom: 0.5%; */
	width: 90%;
	padding: 0 5%;
}

#pc_section_contact2 .sup-txt,
#pc_section_contact3 .sup-txt,
#pc_section_contact4 .sup-txt,
#pc_section_contact5 .sup-txt,
#pc_section_contact6 .sup-txt,
#sp_section_contact2 .sup-txt,
#sp_section_contact3 .sup-txt,
#sp_section_contact4 .sup-txt,
#sp_section_contact5 .sup-txt,
#sp_section_contact6 .sup-txt {
	font-size: 1.8em;
	letter-spacing: 1.2;
	text-align: center;
	color: #CC1C24;
	text-shadow: 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff,
	0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff;
}

#pc_section_contact5 .sup-txt,
#pc_section_contact6 .sup-txt {
	font-size: min(4rem, 45px);
	letter-spacing: 2.8;
} 

#sp_section_contact2 .sup-txt,
#sp_section_contact3 .sup-txt,
#sp_section_contact4 .sup-txt,
#sp_section_contact5 .sup-txt,
#sp_section_contact6 .sup-txt {
	font-size: 5.5em;
}

#pc_section_contact5 .sup-txt,
#sp_section_contact5 .sup-txt {
	text-shadow: none;
}

#sp_section_contact2 > div,
#sp_section_contact3 > div,
#sp_section_contact4 > div,
#sp_section_contact5 > div,
#sp_section_contact6 > div,
#pc_section_contact2 > div,
#pc_section_contact3 > div,
#pc_section_contact4 > div,
#pc_section_contact5 > div,
#pc_section_contact6 > div {
	width: 100%;
	padding: 1% 0%;
}

#sp_section_contact2 .urgent div,
#sp_section_contact3 .urgent div,
#sp_section_contact4 .urgent div,
#pc_section_contact2 .urgent div,
#pc_section_contact3 .urgent div,
#pc_section_contact4 .urgent div,
#pc_section_contact5 .urgent div,
#pc_section_contact6 .urgent div {
	padding: 0 1%;
}

#sp_section_contact5 .urgent div,
#sp_section_contact6 .urgent div {
	padding: 3% 1%;
}

/*お問い合わせボタン*/
.cvbtn {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 0;
}
.cvbtn img{
	position: absolute;
}
.section_0 {
	position: relative;
}
.cvbtn_sec0_1 img{
  width: 77%;
  right: 3%;
  top: 1%;
	position: absolute;
}
.cvbtn_sec0_2 img {
  width: 46%;
  left: 3%;
  top: 45.5%;
  position: absolute;
}
.cvbtn_sec0_3 img {
  width: 47%;
  right: 2.5%;
  top: 42.1%;
  position: absolute;
}
.cvbtn_sec0_4 img {
  width: 47%;
  left: 2.3%;
  top: 38.8%;
  position: absolute;
}
.cvbtn_sec0_5 img {
  width: 47%;
  right: 2.3%;
  top: 38.8%;
  position: absolute;
}
.cvbtn_sec0_6 img {
  width: 47%;
  left: 2.3%;
  top: 67.6%;
  position: absolute;
}
.cvbtn_sec0_7 img {
  width: 47%;
  right: 2.3%;
  top: 67.6%;
  position: absolute;
}
.cvbtn._sec1 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/section_1_3.png);
	padding-top: 44%;
	margin-top: -2px;
}
.cvbtn._sec1 img{
	top: 0%;
	width: 88%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.cvbtn._sec5 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/section_5_2.png);
	padding-top: 46.7%;
}
.cvbtn._sec5 img{
	top: 0%;
	width: 88%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.cvbtn._sec6 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/section_6_4.png);
	padding-top: 25.3%;
}
.cvbtn._sec6 img{
	top: 0%
}
.cvbtn._sec6_2 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/section_6_4.png);
	padding-top: 25.3%;
}
.cvbtn._sec6_2 img{
	top: 5%;
	right: 5%;
	width: 90%
}
.cvbtn._sec8 {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/section_8_2.png);
	padding-top: 62.6%;
}
.cvbtn._sec8 img.btn2{
	top: -5%;
	width: 94%;
	right: 0;
	left: 0;
	margin: 10px auto 0;
}
.cvbtn._sec8 img.btn1{
	top: 55%;
	width: 94%;
	right: 0;
	left: 0;
	margin: 0 auto;
}

/*お客様の声*/
.user-voice {
	background-color: #F4F4F4;
	width: 100%;
}
.user-voice-list {
	width: 90%;
    margin: 35px auto 35px;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
}
@media screen and (max-width: 749px) {
	.user-voice-list {
		padding: 15px;
	}
}
.user-voice-upper {
	display: flex;
	align-items: center;
}
.user-voice-image {
	position: relative;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/user-voice/woman.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.1%;
    height: 0;
    padding-top: 28%;
    margin-right: 3.9%;
}
.user-voice-image.man {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/user-voice/man.png);
}
@media screen and (max-width: 749px) {
	.user-voice-image {
		width: 33.1%;
		padding-top: 34%;
	}
}
.user-feature {
	position: absolute;
    bottom: 2%;
    left: 0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 749px) {
	.user-feature {
		bottom: 1%;
    	font-size: 15px;
	}
}
@media screen and (max-width: 500px) {
	.user-feature {
    	font-size: 11px;
	}
}
.user-voice-title {
	width: 70%;
	font-weight: bold;
    font-size: 34px;
}
@media screen and (max-width: 749px) {
	.user-voice-title {
    	font-size: 25px;
	}
}
@media screen and (max-width: 500px) {
	.user-voice-title {
    	font-size: 19px;
	}
}
.user-voice-discription {
	font-size: 28px;
    margin-top: 15px;
}
@media screen and (max-width: 749px) {
	.user-voice-discription{
    	font-size: 18px;
   		margin-top: 10px;
	}
}
.user-voice-discription span{
	font-weight: bold;
	color: #ff0000;
}

/*重要ポイント*/
.key-point-list {
	background-color: #fff;
	padding: 20px 0;
}
.key-point-item {
	width: 90%;
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	background-color: #fff;
	margin: 20px auto 40px;
	position: relative;
}
@media screen and ( max-width:580px ) {
	.key-point-item {
		/*width: 90%;*/
		margin: 20px auto 30px;
	}
}
.key-point-item:first-child {
	margin-top: 0;
}
.key-point-item:last-child {
	margin-bottom: 0;
}
.key-point-header {
	padding: 20px 20px 0;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
@media screen and ( max-width:580px ) {
	.key-point-header {
		margin-bottom: 10px;
	}
}
.key-point-num {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 120px;
	position: absolute;
	top: -4px;
}
.key-point-item:nth-child(1) .key-point-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/key-point/num-bg1.png);	
}
.key-point-item:nth-child(2) .key-point-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/key-point/num-bg2.png);	
}
.key-point-item:nth-child(3) .key-point-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/key-point/num-bg3.png);	
}
@media screen and ( max-width:580px ) {
	.key-point-num {
		width: 50px;
		height: 60px;
		top: -2px;
	}
}
.key-point-ttl {
	font-size: 34px;
	margin-left: 110px;
	font-weight: bold;
	line-height: 1.2;
}
@media screen and ( max-width:580px ) {
	.key-point-ttl {
		font-size: 24px;
		margin-left: 65px;
	}
}
.key-point-body {
	padding: 10px 20px 20px;
	font-size: 28px;
	line-height: 1.6;
}
@media screen and ( max-width:580px ) {
	.key-point-body {
		font-size: 18px;
	}
}
.key-point-body figure {
	float: left;
	margin: 0 15px 0 0;
	width: 30%;
}
@media screen and ( max-width:580px ) {
	.key-point-body figure {
		width: 50%;
		margin: 0 15px 10px 0;
	}
}
.key-point-body figure img {
	max-width: 100%;
}
.key-point-item .column {
	border: 4px solid #FFED6E;
	background-color: #FFFACA;
	margin: 20px 0 10px;
}
.key-point-item .column-header {
	background-color: #FFED6E;	
	padding: 20px 30px;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-header {
		padding: 20px 10px;
	}
}
.key-point-item .column-ttl {
	position: relative;
	padding-left: 110px;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.2;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-ttl {
		padding-left: 60px;
		font-size: 24px;
	}
}
.key-point-item .column-ttl::before {
	position: absolute;
	content: "";
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/key-point/bikkuri.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100px;
	height: 100px;
	margin-right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-ttl::before {
		width: 50px;
		height: 50px;
	}
}
.key-point-item .column-body {
	padding: 20px 30px;
}
@media screen and ( max-width:580px ) {
	.key-point-item .column-body {
		padding: 20px 10px;
	}
}
.key-point-item .column-body span {
	color: #840000;
	font-weight: bold;
}

/*6つの理由*/
.reason-list {
	background-color: #fff;
	padding: 20px 0;
}
.reason-item {
	width: 90%;
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.36);
	background-color: #fff;
	margin: 20px auto 40px;
}
@media screen and ( max-width:580px ) {
	.reason-item {
		margin: 10px auto 30px;
	}
}
.reason-item:first-child {
	margin-top: 20px;
}
@media screen and ( max-width:580px ) {
	.reason-item:first-child {
		margin-top: 0;
	}
}
.reason-header {
	padding: 30px 30px 0;
	display: flex;
	align-items: center;
}
@media screen and ( max-width:580px ) {
	.reason-header {
		padding: 20px 20px 0;
	}
}
.reason-num {
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 100px;
	min-height: 100px;
	background-position: center;
}
@media screen and ( max-width:580px ) {
	.reason-num {
		min-width: 64px;
		min-height: 64px;
	}
}
.reason-item:nth-child(1) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/num-bg1.png);	
}
.reason-item:nth-child(2) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/num-bg2.png);	
}
.reason-item:nth-child(3) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/num-bg3.png);	
}
.reason-item:nth-child(4) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/num-bg4.png);	
}
.reason-item:nth-child(5) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/num-bg5.png);	
}
.reason-item:nth-child(6) .reason-num {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/num-bg6.png);	
}
.reason-ttl {
	font-size: 32px;
	margin-left: 10px;
	font-weight: bold;
	line-height: 1.2;
}
@media screen and ( max-width:580px ) {
	.reason-ttl {
		font-size: 24px;
	}
}
.reason-ttl span {
	color: #d94e4e;
}
.reason-body {
	padding: 10px 30px 30px;
	font-size: 28px;
	line-height: 1.6;
}
@media screen and ( max-width:580px ) {
	.reason-body {
		padding: 10px 20px 20px;
		font-size: 18px;
	}
}
.reason-body span {
	color: #ff0000;
	font-weight: bold;
}
.reason-body figure {
	width: 90%;
	margin: 20px auto 30px;
}
@media screen and ( max-width:580px ) {
	.reason-body figure {
		margin: 10px auto 20px;
	}
}
.reason-body figure.full {
	width: 100%;
}
@media screen and ( max-width:580px ) {
	.reason-body figure figcaption {
		font-size: 16px;
	}
}
.reason-body span.ceremopian {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/ceremopian.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 40px;
	width: 240px;
	display: inline-block;
	text-indent: -9999px;
	position: relative;
}
@media screen and ( max-width:580px ) {
	.reason-body span.ceremopian {
		height: 26px;
    	width: 197px;
    	bottom: 2px;
	}
}
.reason-body .bold {
	font-weight: bold;
	font-weight: 20px;
}
.reason-body span.ceremore {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/ceremore.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 40px;
	width: 220px;
	display: inline-block;
	text-indent: -9999px;
	position: relative;
}
@media screen and ( max-width:580px ) {
	.reason-body span.ceremore {
		height: 27px;
    	width: 145px;
    	bottom: 2px;
	}
}
.reason-body .htc-list {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	list-style: none;
	margin: 0 auto;
}
@media screen and ( max-width:580px ) {
	.reason-body .htc-list {
		width: 100%;		
    	max-width: 270px;
	}
}
.reason-body .htc-list li {
	position: relative;
	padding-left: 35px;
	margin: 0 20px;
}
@media screen and ( max-width:580px ) {
	.reason-body .htc-list li {
		padding-left: 25px;
		margin: 0 5px;
	}
}
.reason-body .htc-list li:before,
.qlist li:before {
	position: absolute;
	content: "";
	display: block;
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/icon_check.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
@media screen and ( max-width:580px ) {
	.reason-body .htc-list li:before {
		width: 20px;
		height: 20px;
	}
}
.qlist li {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	position: relative;
}
.qlist li:before {
	position: relative;
	min-width: 50px;
	min-height: 50px;
	margin: 0;
	margin-right: 20px;
}
@media screen and ( max-width:580px ) {
	.qlist li:before {
		min-width: 30px;
		min-height: 30px;
		margin-right: 10px;
	}
}
.qitem-num {
	background-color: #00B481;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 1.8;
	margin-right: 20px;
}
@media screen and ( max-width:580px ) {
	.qitem-num {
		width: 30px;
		height: 30px;
		min-width: 30px;
		min-height: 30px;
		margin-right: 10px;
	}
}
.qitem-thumb {
	background-repeat: no-repeat;
	background-size: contain;
	width: 200px;
	height: 100px;
	margin-right: 10px;
}
@media screen and ( max-width:580px ) {
	.qitem-thumb {
		width: 80px;
		height: 50px;
	}
}
.qlist li:nth-child(1) .qitem-thumb {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/qitem1.png);	
}
.qlist li:nth-child(2) .qitem-thumb {
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/qitem2.png);	
}
.qlist li:nth-child(4) .qitem-thumb {
	height: 200px;
	background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/reason/qitem3.png);	
}
@media screen and ( max-width:580px ) {
	.qlist li:nth-child(4) .qitem-thumb {
		height: 80px;
	}
}
.qitem-ttl {
	font-size: 30px; 
}
@media screen and ( max-width:580px ) {
	.qitem-ttl {
		font-size: 18px;
    	width: calc(100% - 120px);
	}
	.qlist li:nth-child(3) .qitem-ttl {
		width: calc(100% - 40px);
	}
	.qlist li:nth-child(5) .qitem-ttl {
		width: calc(100% - 40px);
	}
}
@media screen and ( max-width:580px ) {
	.reason-body .supplement{
		font-size: 15px;
	}
}

/*セレパクプラン*/
.cerepak_select {
    width: 100%;
    padding: 5px 60px 25px;
    box-sizing: border-box;
    background-color: #fff;
}
@media screen and (max-width: 499px) {
	.cerepak_select {
		padding: 5px 30px 25px;
	}
}
.cerepak_select .cerepak_select_box {
	position: relative;
    display: flex;
    align-items: center;
    margin: 0px 0 40px;
}
.cerepak_select .cerepak_select_box:after {
	position: absolute;
    right: 15px;
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/cerepak_select_arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;    
    pointer-events: none;
}
.cerepak_select select{
	width: 100%;
  height: 75px;
  font-size: 27px;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(212,212,212,1) 100%);
  padding: 0 60px;
}
@media screen and (max-width: 580px) {
	.cerepak_select select {
		font-size: 24px;
    padding: 0 60px 0 24px;
	}
}
@media screen and (max-width: 499px) {
	.cerepak_select select {
		font-size: 20px;
		border-radius: 6px;
    padding: 0 60px 0 14px;
	}
}
@media screen and (max-width: 400px) {
	.cerepak_select select {
		font-size: 18px;
	}
}
.cerepak_select .cerepak_plan {
	-webkit-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 32px -7px rgba(0,0,0,0.44);
    border-radius: 15px;
}
@media screen and (max-width: 499px) {
	.cerepak_select .cerepak_plan {
		font-size: 18px;
		border-radius: 6px;
	}
}
.cerepak_select .cerepak_discount {
	color: #fff;
    font-weight: bold;
    font-size: 30px;
    background-color: #de669c;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 10px 0 5px;
}
@media screen and (max-width: 499px) {
	.cerepak_select .cerepak_discount {
		font-size: 18px;
		border-radius: 6px 6px 0 0;
	}
}
.cerepak_select .cerepak_discount > div:first-child {
	display: flex;
    justify-content: center;
    align-items: center;
}
.cerepak_select .cerepak_discount > div:first-child img {
	width: 42%;
}
.cerepak_select .cerepak_discount > div:first-child p {
	margin-left: 8px;
}
.cerepak_select .cerepak_option {
	background-color: #e1fff5;
    border-radius: 0 0 15px 15px;
    padding: 35px 35px;
}
@media screen and (max-width: 499px) {
	.cerepak_select .cerepak_option {
		border-radius: 6px 6px 0 0;
		padding: 20px;
	}
}
.cerepak_select .cerepak_saidan {
	background-color: #fff;
    border: 1px solid #00AE80;
    padding: 20px 20px 10px;
}
.cerepak_select .cerepak_saidan p {
	text-align: center;	
    font-size: 30px;
    margin-top: 10px;
}
@media screen and (max-width: 599px) {
	.cerepak_select .cerepak_saidan p {
		font-size: 20px;
	}
}
.cerepak_plan .extra_cost {
	padding: 0 0;
    border-top: 2px solid #00AE80;
    margin-top: 15px;
}
.cerepak_plan .extra_cost p {
	font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 10px;
}
@media screen and (max-width: 580px) {
	.cerepak_plan .extra_cost p {
		font-size: 20px;
	}
}
.cerepak_plan .extra_cost ul {
	display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}
@media screen and (max-width: 580px) {
	.cerepak_plan .extra_cost ul {
		font-size: 18px;
	}
}
.cerepak_plan .extra_cost ul li{
	margin: 0 30px 6px 0;
}
.cerepak_plan .extra_cost ul li:before{
	position: relative;
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/cerepak_select_chk.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.footer_links {
	font-size: 2rem; 
	text-align: center; 
	background-color: white; 
	padding: 2rem 0 4rem;
}
.footer_links a {
	color: #008366;
	text-decoration: underline;
}
#app .footer_links,
#app4 .footer_links {
	font-size: 4rem; 
	padding: 4rem 0;
}

/*フッター固定*/
.footer_btns {
	position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 580px;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.83);
}
@media screen and ( max-width:580px ) {
	.footer_btns {
		height: 90px;
	}
}
@media screen and ( max-width:440px ) {
	.footer_btns {
		height: 70px;
	}
}
.footer_btns.show {
	display: flex;
}
.footer_btns img {
	height: 85px;
	margin: 5px;
    width: auto;
}
@media screen and ( max-width:580px ) {
	.footer_btns img {
		height: 63px;
		margin: 5px;
	}
}
@media screen and ( max-width:440px ) {
	.footer_btns img {
		height: 50px;
	}
}

.footer_btns2 {
	position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.83);
}

.footer_btns2.show {
	display: flex;
}
.footer_btns2 img {
	height: 65px;
	margin: 5px;
    width: auto;
}

#pc_tel_n1,
#sp_tel_n1,
#pc_tel_n2,
#sp_tel_n2,
#pc_tel_n3,
#sp_tel_n3,
#pc_tel_n4,
#sp_tel_n4,
#pc_tel_n5,
#sp_tel_n5,
#pc_tel_n6,
#sp_tel_n6,
#pc_tel_8,
#sp_tel_8,
#app_tel_8 {
	display: block;
}

#pc_tel_n1 .phone-w,
#sp_tel_n1 .phone-w,
#pc_tel_8 .phone-w,
#sp_tel_8 .phone-w,
#app_tel_8 .phone-w {
	top: 0;
	bottom: 0;
}
#pc_tel_n1 .phone-w {
	left: 23%;
    font-size: 3rem;
    padding-bottom: 0.5rem;
}
#sp_tel_n1 .phone-w {
	left: 7%;
	font-size: 12rem;
}
#pc_tel_8 .phone-w {
    font-size: 24px;
    left: 14%;
    padding-top: 17px;
}
#app_tel_8 .phone-w,
#sp_tel_8 .phone-w {
    font-size: 4rem;
    left: 8%;
    padding-top: 2rem;
}

#pc_tel_n1 img,
#sp_tel_n1 img,
#pc_tel_8 img,
#sp_tel_8 img,
#app_tel_8 img {
	display: inline;
}


/* 以下index.htmlに記載されていたもの */

html {
	font-size: 1vw;
	margin:0;
	padding:0;
}

@media screen and (min-width:1500px) {
	html {
		font-size: 15.3px;
	}
}

body {
	margin:0;
	padding:0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #FAFAFA;
  padding: 2px 0;
}
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 5px;
}

.hide {
	display: none;
}

.popup_block {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	z-index:100;
	width:580px;
	overflow-y:auto;
	background-color:#000000aa;
}

.popup_block2 {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	z-index:100;
	width:100%;
	overflow-y:auto;
	background-color:#000000aa;
}

@media screen and (max-width:580px) {
	.popup_block {
		width:100%;
	}
}

@media screen and (max-width:1300px) {
	.popup_block2 {
		width:100%;
	}
}

.popup_image_wrapper {
	position:relative;
	width:95%;
	margin:0 auto;
}

.popup_image_wrapper2 {
	position:relative;
	width:320px;
	margin:0 auto;
}

@media screen and (max-width:640px) {
	.popup_image_wrapper2 {
		width:50%;
	}
}

#section_1_button a {
	position:absolute;
	display:block;
	width:38%;
	height:19%;
	bottom:10%;
	right:3%;
}

#section_5_ichinichi a {
	position: absolute;
    display: block;
    width: 100%;
    height: 17%;
    bottom: 53.4%;
}

#section3_5_ichinichi a {
	position: absolute;
    display: block;
    width: 25%;
    height: 2.7%;
    bottom: 24.9%;
    right: 11%;
}

#close_ichinichi {
	position:absolute;
	width:20%;
	height: 4%;
    top: 0%;
	right:0%;
}

#close3_ichinichi {
	position:absolute;
	width:20%;
	height: 5%;
    top: 1%;
	right:1%;
}

#section_5_kazoku1 a {
	position: absolute;
    display: block;
    width: 100%;
    height: 17%;
    bottom: 71.5%;
    right: 0;
}

#section3_5_kazoku1 a {
	position: absolute;
    display: block;
    width: 25%;
    height: 2.7%;
    bottom: 37.7%;
    right: 11%;
}

#close_kazoku1 {
	position:absolute;
	width:20%;
	height: 4%;
    top: 0%;
	right:0%;
}

#close3_kazoku1 {
	position:absolute;
	width:20%;
	height: 5%;
    top: 1%;
	right:1%;
}

#section_5_kazoku2 a {
	position: absolute;
    display: block;
    width: 100%;
    height: 16%;
    bottom: 36%;
}

#section3_5_kazoku2 a {
	position: absolute;
    display: block;
    width: 25%;
    height: 2.7%;
    bottom: 12%;
    right: 11%;
}

#close_kazoku2 {
	position:absolute;
	width:20%;
	height: 3%;
    top: 0%;
	right:0%;
}

#close3_kazoku2 {
	position:absolute;
	width:20%;
	height: 5%;
    top: 1%;
	right:1%;
}

#section_5_ippan a {
	position:absolute;
	display:block;
	width:50%;
	height:22%;
	bottom:42%;
	right:0;
}

#close_ippan {
	position:absolute;
	width:20%;
	height:10%;
	top:7%;
	right:1%;
}

#section_5_form a {
	position:absolute;
	display:block;
	width:100%;
	height:4%;
	bottom:2%;
}

#section_5_call a {
	position:absolute;
	display:block;
	width:100%;
	height:4%;
	bottom:7%;
}

#call_0203 {
	position:absolute;
	display:block;
	width:100%;
	height: 5%;
    bottom: 6%;
}

#link_0203 {
	position:absolute;
	display:block;
	width:100%;
	height: 4%;
    bottom: 1%;
}

#section_6_call a {
	position:absolute;
	display:block;
	width:100%;
	height:17%;
	bottom:2%;
}

.popup_block .popup_image {
	position:static;
	width:100%;
}

#pc_section_1_button a {
	position:absolute;
	display:block;
	width:35%;
	height:18%;
	bottom:10%;
	right:2%;
}

#pc_section_6_form a {
	position:absolute;
	display:block;
	width:60%;
	height:7%;
	bottom:2%;
	left:20%;
}

#pc_section_6_call a {
	position:absolute;
	display:block;
	width:54%;
	height:7%;
	bottom:9%;
	right:23%;
}

#pc_section_7_call a {
	position:absolute;
	display:block;
	width:40%;
	height:11%;
	bottom:15%;
	right:6%;
}

#pc_section_5_ichinichi a {
	position: absolute;
    display: block;
    width: 32%;
	height: 33%;
    top: 13%;
    left: 34%;
    z-index: 3;
}

#pc3_section_5_ichinichi a {
	position: absolute;
    display: block;
    width: 24%;
    height: 30%;
    top: 53%;
    left: 38%;
    z-index: 3;
}

#close_pc_ichinichi, #close_pc3_ichinichi {
    position: absolute;
    width: 10%;
    height: 2.5%;
    top: 0%;
    right: 0%;
}

#pc_section_5_kazoku1 a {
	position: absolute;
    display: block;
    width: 32%;
	height: 33%;
    top: 13%;
    left: 1%;
    z-index: 3;
}

#pc3_section_5_kazoku1 a {
	position: absolute;
    display: block;
    width: 24%;
    height: 30%;
    top: 53%;
    left: 13%;
    z-index: 3;
}

#close_pc_kazoku1, #close_pc3_kazoku1 {
    position: absolute;
    width: 10%;
    height: 2.5%;
    top: 0%;
    right: 0%;
}

#pc_section_5_kazoku2 a {
	position: absolute;
    display: block;
    width: 32%;
	height: 33%;
    top: 13%;
    left: 67%;
    z-index: 3;
}

#pc3_section_5_kazoku2 a {
	position: absolute;
    display: block;
    width: 24%;
    height: 30%;
    top: 53%;
    left: 63%;
    z-index: 3;
}

#pc3_section_5_sikijou_ichiran {
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

#pc3_section_5_sikijou_ichiran a {
    font-size: 2.7rem;
    font-weight: bold;
    color: #FFFFFF;
	background-color: #CD671E;
	width: 30%;
	padding: 10px 15px;
	box-shadow: 0px 4px #2D0B06;
	border-radius: 8px;
}

#pc3_section_5_sikijou_ichiran a img {
	margin: auto 0 auto auto;
}

#pc_sikijou_list_box {
	/* background-color: #f0eee5; */
    padding: 10px 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
}


/* 変更 */
#app_sikijou_list_box {
    /* margin: 10px auto; */
    padding: 20px 5px;
    width: calc(100% - 10px);
    border-radius: 10px;
}

#pc_sikijou_list_title {
	font-size: clamp(25px, 4.5vw, 48px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#app_sikijou_list_title {
	font-size: 6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

#pc_sikijou_list_box .swiper-slide {
	background-color: white;
	padding-bottom: 25px;
    border-radius: 18px;
    box-sizing: border-box;
	box-shadow: 1px 1px rgb(231, 231, 231);
}

#app_sikijou_list_box .swiper-slide {
	background-color: white;
	padding-bottom: 10px;
    border-radius: 7px;
	border: 0.5px solid #d1d1d1;
	box-sizing: border-box;
	box-shadow: 1px 1px rgb(231, 231, 231);
}


#pc_sikijou_list_box .swiper-slide img {
	border-radius: 18px 18px 0 0;
}

#app_sikijou_list_box .swiper-slide img {
	border-radius: 7px 7px 0 0;
}

#pc_sikijou_list_box .pc_sikijou_station {
	text-align: center;
    font-size: 2.2rem;
    padding: 10px 0 0;
}

#app_sikijou_list_box .app_sikijou_station {
	text-align: center;
    font-size: 3.7rem;
    padding: 10px 0 0;
}

#pc_sikijou_list_box .pc_sikijou_name {
	text-align: center;
    font-size: 2.57rem;
    font-weight: bold;
}

#app_sikijou_list_box .app_sikijou_name {
	text-align: center;
    font-size: 3.7rem;
    font-weight: bold;
}

#pc_sikijou_list_box .pc_sikijou_type {
	text-align: center;
    width: 70%;
    margin: 5px auto;
    padding: 3px 0;
    font-size: 2.8rem;
    color: white;
    border-radius: 5px;
}

#app_sikijou_list_box .app_sikijou_type {
	text-align: center;
    width: 70%;
    margin: 5px auto;
    padding: 3px 0;
    font-size: 4.2rem;
    color: white;
    border-radius: 5px;
}

#pc_sikijou_list_box .pc_sikijou_ichinichi {
	background-color: #4A9550;
}

#pc_sikijou_list_box .pc_sikijou_ippan {
	background-color: #216E7F;
}

#pc_sikijou_list_box .pc_sikijou_kazoku {
	background-color: #A62364;
}

#app_sikijou_list_box .app_sikijou_ichinichi {
	background-color: #4A9550;
}

#app_sikijou_list_box .app_sikijou_ippan {
	background-color: #216E7F;
}

#app_sikijou_list_box .app_sikijou_kazoku {
	background-color: #A62364;
}

#pc_sikijou_list_box .swiper-pagination {
	bottom: 0;
}

#app_sikijou_list_box .swiper-pagination {
	bottom: 0;
}

#pc_sikijou_list_box .swiper-pagination-bullet-active {
	background-color: #CD671E;
}

#app_sikijou_list_box .swiper-pagination-bullet-active {
	background-color: #CD671E;
}

#app3_section_5_sikijou_ichiran {
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 0 0 20px 0;
}

#app3_section_5_sikijou_ichiran a {
	padding: 10px 20px;
    background-color: #CD671E;
    font-size: 4.0rem;
    font-weight: bold;
    color: #FFFFFF;
	width: 30%;
	box-shadow: 0px 4px #2D0B06;
	border-radius: 8px;
}



#app3_section_5_sikijou_ichiran a img {
	/* width:clamp(20px, 5.0vw, 40px);
	height:clamp(20px, 5.0vw, 40px); */

	margin-left: auto;
}

#close_pc_kazoku2, #close_pc3_kazoku2 {
    position: absolute;
    width: 10%;
    height: 2.5%;
    top: 0%;
    right: 0%;
}

#pc3_sikijou_ichiran_parent {
	position: relative;
	width: 95%;
	max-width: 500px;
	height: 90%;
	padding-top: 5%;
}

#app3_sikijou_ichiran_parent {
	position: relative;
	width: 95%;
	height: 90%;
	padding-top: 5%;
}

#pc3_sikijou_ichiran_close1 {
	position: absolute;
	z-index: 10;
	width: 42px;
    right: 0;
    top: 26px;
}

#app3_sikijou_ichiran_close1 {
	position: absolute;
	z-index: 10;
	width: 42px;
    right: 0;
    top: 26px;
}

#pc3_sikijou_ichiran_box {
    height: 100%;
	display: flex;
	flex-direction: column;
}

#app3_sikijou_ichiran_box {
    height: 100%;
	display: flex;
	flex-direction: column;
}

#pc3_sikijou_ichiran_body {
    padding: 8px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 3px solid #22a573;
    border-radius: 5px 5px 0 0;
}

#app3_sikijou_ichiran_body {
    padding: 8px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 3px solid #22a573;
    border-radius: 5px 5px 0 0;
}

.app3_sikijou_info_box {
	display: flex;
	padding: 2rem 0;
	border-bottom: 1px solid #dedede;
}

.app3_sikijou_info_img {
	width: 50%;
    height: 23rem;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 2rem #ccc;
}

.app3_sikijou_info_img img {
	position: relative;
    top: -8rem;
	border-bottom: 1px solid #d4d4d4;
}

.app3_sikijou_info_text {
	width: 50%;
}

.app3_sikijou_info_station {
	margin-left: 2rem;
	margin-top: 1rem;
	font-size: 3.1rem;
    color: #848484;
}

.app3_sikijou_info_name {
	text-align: center;
	margin: 1rem 0;
    font-size: 5rem;
    font-weight: bold;
    color: #292929;
}

.app3_sikijou_info_type {
	width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 3.1rem;
    color: white;
}

.app3_sikijou_info_text .app_sikijou_ichinichi {
	background-color: #22a573;
}

.app3_sikijou_info_text .app_sikijou_ippan {
	background-color: #278494;
}

.app3_sikijou_info_text .app_sikijou_kazoku {
	background-color: #ba3a78;
}

#pc3_sikijou_ichiran_footer {
    width: 100%;
    background-color: #22a573;
    border-radius: 0 0 5px 5px;
}

#app3_sikijou_ichiran_footer {
    width: 100%;
    background-color: #22a573;
    border-radius: 0 0 5px 5px;
}

#pc3_sikijou_ichiran_close2 {
	font-size: 24px;
    font-weight: bold;
    width: 140px;
    margin: 12px auto;
    padding: 3px 0;
    text-align: center;
    background-color: white;
    border-radius: 5px;
	cursor: pointer;
}

#app3_sikijou_ichiran_close2 {
	font-size: 18px;
    font-weight: bold;
    width: 120px;
    margin: 12px auto;
    padding: 3px 0;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

#pc_section_5_ippan a, #pc3_section_5_ippan a {
	position:absolute;
	display:block;
	width:21%;
	height:22%;
	top:11%;
	left:74%;
	z-index: 3;
}

#close_pc_ippan, #close_pc3_ippan {
	position:absolute;
	width:20%;
	height:10%;
	top:7%;
	right:1%;
}

#pc_top_area {
	letter-spacing: 0.1em;
}


#pc_top_area span {
	font-size: 3.4rem;
	font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-weight:bold;
	color:#bd1313;
	line-height:2rem;
}

@media (prefers-color-scheme: dark) {
  #pc_top_area span {
    color:#bd1313;
  }
}

#pc_top_area span::before {
	left: 0;
}

#pc_top_area span::after {
	right: 0;
}

#pc_top_area2 {
	letter-spacing: 0.1em;
	margin-top: 7px;
}


#pc_top_area2 span {
	font-size: 3.2rem;
	font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-weight:bold;
	color:#42210B;
	line-height:4.5rem;
}

@media (prefers-color-scheme: dark) {
  #pc_top_area2 span {
    color:#42210B;
  }
}

#pc_blue_medal {
	position:absolute;
	top:39%;
	left:5%;
	width:42%;
}

#pc_section_n1_form a {
    position: absolute;
    display: block;
    width: 16%;
    height: 7%;
    top: 2%;
    right: 4%;
}

#pc_section_n1_call a {
	position: absolute;
    display: block;
    width: 43%;
    height: 10%;
    bottom: 28.5%;
    left: 8%;
}

#pc_section_n1_kazokuso a#pc_kazoku1_open {
    position: absolute;
    display: block;
    width: 31%;
    /* height: 16.5%; */
    top: 7.5%;
    right: 6%;
}

#pc_section_n1_kazokuso_ttl {
	position: relative;
	width: 100%;
	height: 100%;
}
#pc_section_n1_kazokuso_ttl span {
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 230%;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #42210B;
}

#pc_section_n1_ichinichiso a#pc_ichinichi_open {
	position: absolute;
    display: block;
    width: 31%;
    /* height: 15.5%; */
    top: 28%;
    right: 6%;
}

#pc_section_n1_ichinichiso_ttl {
	position: relative;
	width: 100%;
	height: 100%;
}
#pc_section_n1_ichinichiso_ttl span {
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 230%;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #42210B;
}

#pc_section_n1_ippanso a#pc_kazoku2_open {
    position: absolute;
    display: block;
    width: 31%;
    /* height: 16.5%; */
    top: 48.5%;
    right: 6%;
}



@media screen and (min-width:860px) {
	#pc_section_n1_kazokuso a#pc_kazoku1_open {
		top: 7.5%;
	}
	#pc_section_n1_ichinichiso a#pc_ichinichi_open {
		top: 30%;
	}
	#pc_section_n1_ippanso a#pc_kazoku2_open {
		top: 52%;
	}
}


#pc_section_n1_ippanso_ttl {
	position: relative;
	width: 100%;
	height: 100%;
}
#pc_section_n1_ippanso_ttl span {
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 230%;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #42210B;
}


#pc_to_corona {
	/* background-image: url("https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/pc/covid19_btn.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 46%;
	height: auto; */
	display: block;
	margin: 0px auto;
	max-width: 700px;
	width: 70%;
	/* padding-top: 8%;
	margin: 10px auto; */
}

#pc_call_0420 {
	position: absolute;
    display: block;
    width: 60%;
    height: 6%;
    bottom: 8%;
    left: 20%;
}

#pc_link_0420 {
	position: absolute;
    display: block;
    width: 60%;
    height: 5%;
    bottom: 2%;
    left: 19%;
}

#sp_top_area {
	position:absolute;
	top: 3%;
	/*width:100%;
	text-align:center;*/
	letter-spacing: 0.1em;
}

#sp_top_area span {
	font-size:7.5rem;
	font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-weight:bold;
	color:#bd1313;
	position: relative;
	display: inline-block;
	padding: 0 3rem;
	line-height:10rem;
}

@media (prefers-color-scheme: dark) {
  #sp_top_area span {
    color:#bd1313;
  }
}

#sp_top_area span::before {
	left: 0;
}

#sp_top_area span::after {
	right: 0;
}

#sp_top_area2 {
	position:absolute;
	top: 8.5%;
	width:70%;
	letter-spacing: 0.1em;
}

/* 以下修正 */
#sp_top_area2 span {
	font-size: 6.5rem;
	font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-weight:bold;
	color:#42210B;
	position: relative;
	display: inline-block;
	padding: 0 3rem;
	line-height:10rem;
	margin-top: -6rem;

}
/* 以上修正 */

@media (prefers-color-scheme: dark) {
  #sp_top_area2 span {
    color:#42210B;
  }
}

#sp_blue_medal {
	position:absolute;
	top:37%;
	left:-5%;
	width:78%;
}

#sp_orange_medal {
	position: absolute;
    top: 14%;
    right: 3%;
    width: 46%;
}

#sp_section_n1_form a {
    position: absolute;
    display: block;
    width: 40%;
    height: 6%;
    top: 9%;
    right: 3%;
}

#sp_section_n1_call a {
    position: absolute;
    display: block;
    width: 87%;
    height: 9%;
    top: 70%;
    left: 6%;
}

#sp_section_n1_form2 a {
    position: absolute;
    display: block;
    width: 88%;
    height: 7.5%;
    top: 80.5%;
    left: 6%;
}

#top_sougi_links {
	text-align: center;
	padding: 1% 0;
	background: #fff;
}

#sp_section_n1_kazokuso,
#sp_section_n1_ichinichiso,
#sp_section_n1_ippanso {
	display: inline-block;
	width: 32%;
}
#sp_section_n1_kazokuso a#app_kazoku1_open {
	/* position: absolute; */
    display: block;
    /* width: 30.5%; */
    /* height: 18%; */
    top: 47%;
    left: 2%;
}

#sp_section_n1_kazokuso_ttl {
	position: relative;
	width: 100%;
	height: 100%;
}

#sp_section_n1_kazokuso_ttl span {
	position: absolute;
    left: 10%;
    top: 47%;
    font-size: 530%;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #42210B;
}

#sp_section_n1_ichinichiso a#app_ichinichi_open {
	/* position: absolute; */
    display: block;
    /* width: 31%; */
    /* height: 18%; */
    top: 47%;
    left: 34.5%;
}

#sp_section_n1_ichinichiso_ttl {
	position: relative;
	width: 100%;
	height: 100%;
}

#sp_section_n1_ichinichiso_ttl span {
	position: absolute;
    left: 10%;
    top: 47%;
    font-size: 530%;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #42210B;
}

#sp_section_n1_ippanso a#app_kazoku2_open {
	/* position: absolute; */
    display: block;
    /* width: 30.5%; */
    /* height: 18%; */
    top: 47%;
    left: 67.5%;
}

#sp_section_n1_ippanso_ttl {
	position: relative;
	width: 100%;
	height: 100%;
}

#sp_section_n1_ippanso_ttl span {
	position: absolute;
    left: 10%;
    top: 47%;
    font-size: 530%;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #42210B;
}

#pc_section_n1_form2 a {
    position: absolute;
    display: block;
    width: 43%;
    height: 11%;
    bottom: 16.5%;
    left: 8%;
}

#pc_corona_footer {
	background-color: white;
	padding: 10px 0;
}

#pc_corona_close_button {
	background-color: #00b080;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 40%;
    padding: 7px 0;
    border-radius: 7px;
}

#app_to_corona {
	background-image: url("https://s3-ap-northeast-1.amazonaws.com/ceremore.eqs/lp2-temp/images/covid19_btn_sp.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 90%;
	height: auto;
	display: block;
	padding-top: 20%;
	margin: 10px auto;
}

#app_corona_footer {
	background-color: white;
	padding: 10px 0;
}

#app_corona_close_button {
	background-color: #00b080;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 40%;
    padding: 7px 0;
    border-radius: 7px;
}

#pc_middle_area {
	position:absolute;
	top:23.8%;
	right:0;
	width:52%;
	text-align:center;
	font-size:1.9rem;
	font-weight:bold;
}

#pc_middle_area_name {
	font-size:3rem;
	color:#00b180;
}

#pc_middle_area2 {
	position:absolute;
	top:67.3%;
	right:5%;
	width:43%;
	padding:1rem 0;
	text-align:center;
	font-size:2.2rem;
	font-weight:bold;
	background-color: #fff;
}

#sp_middle_area {
	position:absolute;
	top:2.9%;
	width:100%;
	text-align:center;
	font-size:4.2rem;
	font-weight:bold;
}

#sp_middle_area_name {
	font-size:7rem;
	color:#00b180;
}

#sp_middle_area2 {
	position:absolute;
	top:69.3%;
	width:100%;
	padding:2rem 0;
	text-align:center;
	font-size:5.2rem;
	font-weight:bold;
	background-color: #fff;
}

#pc_n4_1 {
	position: absolute;
    display: block;
    width: 66%;
    height: 7%;
    bottom: 2%;
    left: 17%;
}

#app_n4_1 {
	position: absolute;
    display: block;
    width: 94%;
    height: 6%;
    bottom: 1%;
    left: 3%;
}

#pc_n6_1 {
	position: absolute;
    display: block;
    width: 29%;
    height: 2%;
    bottom: 47%;
    left: 66%;
}

#pc_n6_2 {
	position: absolute;
    display: block;
    width: 28%;
    height: 2%;
    bottom: 31%;
    left: 5%;
}

#pc_n6_3 {
	position: absolute;
    display: block;
    width: 60%;
    height: 5%;
    bottom: 6%;
    left: 20%;
}

#pc_n6_4 {
	position: absolute;
    display: block;
    width: 57%;
    height: 5%;
    bottom: 1%;
    left: 22%;
}

#app_n6_3 {
	position: absolute;
    display: block;
    width: 100%;
    height: 2%;
    bottom: 2.7%;
    left: 0;
}

#app_n6_4 {
	position: absolute;
    display: block;
    width: 100%;
    height: 2%;
    bottom: 0.5%;
    left: 0;
}

#pc_tel_dialog {
	padding-top: 10%;
}

#pc_tel_dialog_close {
	position: absolute;
    width: 11%;
    top: 3%;
    right: 5px;
}

#pc_tel_dialog_button {
	position: absolute;
    width: 70%;
    height: 8%;
    left: 15%;
    top: 50%;
}

#pc_tel_dialog_child {
	position: relative;
	width: 50%;
	margin: 0 auto;
}

@media screen and ( max-width:580px ) {
	#pc_tel_dialog {
		padding-top: 20%;
	}

	#pc_tel_dialog_close {
		width: 11%;
		top: 4%;
		right: 10px;
	}

	#pc_tel_dialog_button {
		width: 70%;
		height: 9%;
		left: 15%;
		top: 50%;
	}

	#pc_tel_dialog_child {
		width: 100%;
	}
}

@media screen and ( min-width:700px ) {
	#pc_n6_1 {
		bottom: 46.5%;
	}

	#pc_n6_2 {
		bottom: 31%;
	}
}

@media screen and ( min-width:1250px ) {
	#pc_n6_1 {
		bottom: 46%;
	}

	#pc_n6_2 {
		bottom: 30.3%;
	}
}

@media screen and ( min-width:1450px ) {
	#pc_n6_1 {
		bottom: 45.3%;
	}

	#pc_n6_2 {
		bottom: 29.2%;
	}
}

#app_tel_dialog_close {
	position: absolute;
    width: 11%;
    top: 13%;
    right: 10px;
}

#app_tel_dialog_button {
	position: absolute;
    width: 70%;
    height: 9%;
    left: 15%;
    top: 45%;
}
/* 以上index.htmlに記載されていたもの */