* {
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
html {
	font-size: 16px;
}
body{
	padding: 0;
	margin: 0;
}

h2 {
    display: block;
    font-size: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:normal;
}

h3 {
    display: block;
    font-size: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

p {
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.justify_content_center {
	justify-content: center;
}
.justify_content_space_between {
	justify-content:space-between;
}
.text_align_center {
	text-align:center;
}
.middle_text_br {
	white-space: nowrap;
}

.shadow {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
  }

.wrapper {
	max-width: 1100px;
	margin: auto;
	.flex {
		display: flex;
	}
	.green_box {
		background-color: #008c61;
		padding: 0.5rem 0rem;
		width: 100%vw;
		vertical-align: middle;
		.text_img {
			width: 55%;
			max-width: 450px;
		}
		.font_heading {
			font-size: clamp(1.3rem, 5.2vw , 3rem);
			color: #f6f6f6;
			font-weight: 600;
			padding-left: 0.5rem;
			vertical-align: 0%;
			display:inline-block;
		}
		.font_heading_2 {
			font-size: clamp(1.1rem, 5vw, 2.5rem);
			display:inline-block;
		}
	}
	.wrapper_box {
		padding: 1rem;
		.wrapper_text {
			padding-bottom: 1rem;
			@media (min-width: 520px) {
				// 画面サイズが520px以上に適用
				padding: 2rem 3rem;
			  }
			.text_img_2 {
				width: 30%;
				max-width: 15rem;
				vertical-align: middle;
				padding-right: clamp(0.5rem, 2vw, 1rem);
			}
			.text_1 {
				font-size: clamp(1rem, 4vw, 2.0rem);
				line-height: 2em;
			}
		}
	}
	.flex_card {
		display: flex;
		@media screen and (max-width:700px) {
			/*　画面サイズが700pxより小さいとここを読み込む　*/
			display: none;
		}
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem 1rem;
	}
	.family_color_border {
		border: thin solid #A94377;
	}
	.one_day_color_border {
		border: thin solid #69A068;
	}
	.general_color_border {
		border: thin solid #437F8F;
	}
	.wrapper_sp_card {
		@media screen and (min-width:700px) {
			/*　画面サイズが700pxからはここを読み込む　*/
			display: none;
		}
	}
	.card {
		width: 100%;
		margin-right: auto;
		margin-right: auto;
		max-width: 320px;
		border-radius: 10px;
		justify-content: space-around;
		.card_heading_box {
			border-radius: 8px 8px 0px 0px;
			.card_heading {
				font-size: 1.2rem;
				padding: 0.5rem;
				color: #f6f6f6;
			}
			.sp_card_heading {
				font-size: clamp(0.8rem, 3.6vw, 1.4rem);
				padding: 0.5rem;

			}
		}
		.family_color_background {
			background-color: #A94377;
		}
		.one_day_color_background {
			background-color: #69A068;
		}
		.general_color_background {
			background-color: #437F8F;
		}
		.family_color {
			color: #A94377;
		}
		.one_day_color {
			color: #69A068;
		}
		.general_color {
			color: #437F8F;
		}
		.card_content {
			padding: 1rem;
			.sp_card_img {
				width:35%;
				display: inline-block;
			}
			.flex_container {
				align-items: flex-start;
			}
			.flex_box {
				width: calc(65% - 0.5rem);
				padding-left: clamp(0.5rem, 2.4vw, 1rem);
				.sp_emphasis_word {
					font-size: clamp(1.8rem, 7.9vw, 3rem);
					font-weight: bolder;
					width: 100%;
					line-height: clamp(1.8rem, 7.9vw, 3rem);
					margin-bottom: - 0.2rem;
				}
				.sp_explanation {
					font-size: clamp(0.60rem, 2.7vw, 1.0rem);
					padding: 0.1rem 0rem;
					width: 100%;
					// margin: 0rem;
					margin: 0.5rem 0rem;
				}

				.sp_price {
					font-size: clamp(1.9rem, 8.43vw, 3.0rem);
					margin-top: -0.3rem;
				}
				.sp_yen {
					font-size: clamp(0.8rem, 3.5vw, 1.3rem);
					font-weight: bold;
				}
				.sp_tax_included {
					margin-top: -0.3rem;
					font-size: clamp(1.3rem, 5.75vw, 2.2rem);
				}
				.font_weight_normal {
					font-weight: normal;
				}
			}
			.emphasis_word {
				font-size: 3rem;
				font-weight: bolder;
			}
			.card_img {
				width:100%;
				display: inline-block;
			}
			.explanation {
				background-color: #C75954;
				display:inline-block;
				color: #f6f6f6;
				padding: 0.25rem 0.70rem;
				border-radius: 9999px;
				font-size: 0.90rem;
				margin: 0.25rem 0rem;
				width:calc(100% - 2rem);
			}
			.price {
				font-size: 3rem;
				color: #C75954;
				font-weight: bolder;
			}
			.yen {
				font-size: 1.2rem;
				font-weight: bold;
			}
			.tax_included {
				margin-top: -1rem;
				font-size: 2rem;
			}
			.font_weight_normal {
				font-weight: normal;
			}
			.explanation_2 {
				border: medium solid #C75954;
				display:inline-block;
				color: #C75954;
				padding: 0.25rem 0.5rem;
				font-size: 1.1rem;
				margin-top: 0.5rem;
				font-weight: bolder;
				width: 225px;
			}


////////////////////////////////ここまで計算しました//////////////////////////////////


			.sp_explanation_2 {
				// border: thin solid #C75954;
				// font-size: 0.8rem;
				border: medium solid #C75954;
				font-size: 1.3rem;
				width: auto;
				// margin: 0.3rem 0rem 0rem 0rem;
				margin: 0.5rem 0rem 0rem 0rem;
			}
		}
		.sp_card_content {
			padding-left: clamp(0.5rem, 2.4vw, 1rem);
		}
		.card_bottom_box {
			border-radius: 0px 0px 8px 8px;
			.card_bottom {
				font-size: 1.2rem;
				padding: 0.5rem;
				color: #f6f6f6;
				position: relative;
			}
			.card_bottom::after {
				content: "";
				position: absolute;
				display: inline-block;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 1.5rem;
				height: 1.5rem;
				background-image: url("../images/motchan/button_detail.png");
				background-size: contain;
			}
			.sp_card_bottom {
				// font-size: 0.8rem;
				// padding: 0.4rem;
				font-size: 1.4rem;
				padding: 0.5rem;
			}
			.sp_card_bottom::after {
				content: "";
				position: absolute;
				display: inline-block;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 5%;
				width: 1.5rem;
				height: 1.5rem;
				background-image: url("../images/motchan/button_detail.png");
				background-size: contain;
			}
			
		}
	}
	.sp_card {
		max-width: 500px;
		// width: 80%;
		margin: 0 auto;
	}
}
